<a href="https://colab.research.google.com/github/whataLIN/DataAnalysis/blob/main/ch06_01_pandas_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas?
* 대부분의 데이터는 시계열(series)나 표(table)로 나타낼 수 있음
* 판다스(Pandas)는 이러한 데이터를 다루기 위한 시리즈(`Series`) 클래스와 데이터 프레임(`DataFrame`) 클래스를 제공

In [ ]:
import pandas as pd

## 시리즈 (Series)
* 시리즈는 Numpy에서 제공하는 1차원 배열과 비슷
* 각 데이터의 의미(이름)를 표시하는 인덱스(index)를 붙일 수 있음
> 데이터 자체는 값(value)라고 함
> 시리즈 = 값(value) + 인덱스(index)

### 시리즈 생성
* 데이터를 리스트나 1차원 배열 형식으로 Series 클래스 생성자에 넣어주면 시리즈 클래스 객체를 만들 수 있음
* 이 때 인덱스의 길이는 데이터의 길이와 같아야 함
* 인덱스의 값을 인덱스 라벨(label)이라고도 함 
* 인덱스 라벨은 문자열 뿐 아니라 날짜, 시간, 정수 등도 가능

In [ ]:
data = [9904312, 3448737, 2890451, 2466052]
index = ["서울", "부산", "인천", "대구"]
s=pd.Series(data, index=index)
s2= pd.Series( [9904312, 3448737, 2890451, 2466052],
              index = ["서울", "부산", "인천", "대구"])    #데이터의 길이 = 인덱스의 길이 여야 함
print(s)
print(s2)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

* 만약 인덱스를 지정하지 않고 시리즈를 만들면 시리즈의 인덱스는 0부터 시작하는 정수값이 됨

In [ ]:
pd.Series(range(10,14))
pd.Series(rande(10,14))

0    10
1    11
2    12
3    13
dtype: int64

* 시리즈의 인덱스는 `index` 속성으로 접근할 수 있음
* 시리즈의 값은 1차원 배열이며 `values` 속성으로 접근할 수 있음

In [ ]:
s.index   #인덱스 타입.

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [ ]:
#값을 조회

s.values

array([9904312, 3448737, 2890451, 2466052])

* `name` 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음
* `index.name` 속성으로 시리즈의 인덱스에도 이름을 붙일 수 있음

In [ ]:
s.name='인구'
s.index.name='도시'

print(s)

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### 시리즈 연산
* 넘파이 배열처럼 시리즈도 벡터화 연산을 할 수 있음 
* 다만 연산은 **시리즈의 값에만 적용**되며 인덱스 값은 변하지 않음

In [ ]:
s/1_000_000   #인덱스는 그대로

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### 시리즈 인덱싱 & 슬라이싱
* 시리즈는 Numpy 배열에서 가능한 인덱스 방법 이외에도 인덱스 라벨을 이용한 인덱싱도 할 수 있음 
* 배열 인덱싱이나 인덱스 라벨을 이용한 슬라이싱(slicing)도 가능

In [ ]:
s[1], s["부산"]

(3448737, 3448737)

In [ ]:
s[3], s['대구']

(2466052, 2466052)

In [ ]:
s[-1] #음의 정수 인덱싱

2466052

In [ ]:
s[[0,3,1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [ ]:
s[["서울","대구"]]

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int64

In [ ]:
s[s>5_000_000]

도시
서울    9904312
Name: 인구, dtype: int64

In [ ]:
s>5_000_000   #불리언 배열 인덱싱도 가능하다.

도시
서울     True
부산    False
인천    False
대구    False
Name: 인구, dtype: bool

In [ ]:
s[ (250e4<s) & (s<500e4) ]      #250만<인구<500만

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

* 슬라이싱을 해도 부분적인 시리즈를 반환
* 이 때 *문자열 라벨을 이용한 슬라이싱*을 하는 경우에는 **숫자 인덱싱과 달리 콜론(:) 기호 뒤에 오는 값도 결과에 포함**되므로 주의

In [ ]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [ ]:
print(s)

s['부산':'대구']      #문자열 라벨을 이용한 슬라이싱

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

* 만약 라벨 값이 영문 문자열인 경우에는 인덱스 라벨이 속성인것처럼 점(.)을 이용하여 해당 인덱스 값에 접근할 수도 있음

In [ ]:
import numpy as np

s0= pd.Series(range(3), index=['a','b','c'])

s1=pd.Series(np.arange(3), index=list('abc'))

In [ ]:
s0.a, s0.b, s0.c        #변수화할 수 있는 이름이라면 (숫자시작x, 공백x, 특수문자x)

(0, 1, 2)

In [ ]:
# 근데 한국어도 됌
s.부산

3448737

### 시리즈와 딕셔너리 자료형
* 시리즈 객체는 라벨 값에 의해 인덱싱이 가능하므로 실질적으로 인덱스 라벨 값을 키(key)로 가지는 딕셔너리 자료형과 유사
* 따라서 딕셔너리 자료형에서 제공하는 in 연산도 가능하고 items 메서드를 사용하면 for 루프를 통해 각 원소의 키(key)와 값(value)을 접근할 수도 있음

In [ ]:
"서울" in s     #시리즈 s 안에 서울이라는 인덱스라벨이 있는지?

True

In [ ]:
"대전" in s

False

In [ ]:
for k, v in s.items():
  print(f"{k} = {v}") 
  print("{k} = {v}".format(k=k,v=v))
  print("{} = {}".format(k,v))
  print("%s = %d"%(k,v))

서울 = 9904312
서울 = 9904312
서울 = 9904312
서울 = 9904312
부산 = 3448737
부산 = 3448737
부산 = 3448737
부산 = 3448737
인천 = 2890451
인천 = 2890451
인천 = 2890451
인천 = 2890451
대구 = 2466052
대구 = 2466052
대구 = 2466052
대구 = 2466052

* 딕셔너리 객체에서 시리즈를 만들 수도 있음

In [ ]:
s2=pd.Series({
    "서울" :   9631482,
    "부산" :   3393191,
    "인천" :   2632035,
    "대전" :   1490158
}
)

* 딕셔너리의 원소는 순서를 가지지 않으므로 시리즈의 데이터도 순서가 보장되지 않음
* 만약 순서를 정하고 싶다면 인덱스를 리스트로, 명시적으로 지정해야 함

In [ ]:
s2=pd.Series({
    "서울" :   9631482,
    "부산" :   3393191,
    "인천" :   2632035,
    "대전" :   1490158
},index=["부산","서울","인천","대전"]
)
print(s2)

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

### 인덱스 기반 연산
* 두 시리즈에 대해 연산을 하는 경우 인덱스가 같은 데이터에 대해서만 차이를 구함

In [ ]:
print(s)
print(s2)     #대전 x

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64
부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

In [ ]:
ds = s - s2
print(ds)

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
print(
    s.values - s2.values)
#엄밀히말하면 좋은건아니에염

[ 6511121 -6182745   258416   975894]

In [ ]:
# NaN인 값을 빼고 구하고 싶다면 notnull 메소드를 사용
print(ds[ds.notnull()], ds.notnull().eq(0))

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64 대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

In [ ]:
# 인구 증가율 구하기 (%)
# s는 2015년 데이터, s2는 2010년 데이터
# 증가폭 - s-s2
# 증가율 - ((s-s2)/s2)*100

rs=(s-s2)*100/s2

rs=rs.dropna()
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

### 데이터의 갱신, 추가, 삭제
* 인덱싱을 이용하여 딕셔너리처럼 데이터를 갱신(update) 혹은 추가(add)

In [ ]:
rs["부산"]=1.63
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [ ]:
rs["대구"]=1.41
rs

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [ ]:
# 데이터 삭제시 del 명령 사용
del rs["서울"]
rs

부산    1.630000
인천    9.818107
대구    1.410000
dtype: float64

### 🦆 연습문제 1
1. 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.
1. 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

In [ ]:
a1=pd.Series({
  "A":10,
  "B":20,
  "D":40
})

a2=pd.Series({
    "A":100,
    "B":200,
    "C":300
})

In [ ]:
a1+a2

A    110.0
B    220.0
C      NaN
D      NaN
dtype: float64

(E    0.027145
 B    0.091685
 D    0.481127
 dtype: float64, E    0.563131
 D   -0.865738
 B   -1.343808
 dtype: float64)

B   -1.252122
D   -0.384611
E    0.590276
dtype: float64

B    1.435493
D    1.346866
E   -0.535987
dtype: float64

B   -0.123207
D   -0.416531
E    0.015286
dtype: float64

B   -0.068228
D   -0.555742
E    0.048203
dtype: float64

##### 정답

In [ ]:
import numpy as np
import pandas as ad

In [ ]:
# [ chr(a) for a in range(65,91)]       #chr-아스키코드
str_index=lambda x : np.random.choice(list(map(chr,range(65,75))),6,replace=False)

value_count=6
s1=pd.Series(np.random.randn(value_count), str_index(value_count))
s2=pd.Series(np.random.randn(value_count), str_index(value_count))

print(s1)
print(s2)

A   -1.321465
D    0.417916
E   -1.747020
C    0.558181
B    0.773844
J    1.222165
dtype: float64
A   -0.074268
B    0.157163
H   -1.170557
D   -0.716488
J    0.072362
I    1.340824
dtype: float64

In [ ]:
print(s1+s2)

A   -1.395733
B    0.931007
C         NaN
D   -0.298572
E         NaN
H         NaN
I         NaN
J    1.294528
dtype: float64

In [ ]:
print(s1-s2)

A   -1.247197
B    0.616681
C         NaN
D    1.134404
E         NaN
H         NaN
I         NaN
J    1.149803
dtype: float64

In [ ]:
s1*s2

A    0.098143
B    0.121620
C         NaN
D   -0.299432
E         NaN
H         NaN
I         NaN
J    0.088438
dtype: float64

In [ ]:
s1/s2

A    17.793203
B     4.923835
C          NaN
D    -0.583284
E          NaN
H          NaN
I          NaN
J    16.889582
dtype: float64

## 데이터프레임 (DataFrame)
* 시리즈가 1차원 배열 데이터에 행방향 인덱스(row index)를 붙인 것이라면 데이터프레임는 2차원 행렬 데이터에 인덱스를 붙인 것
* 2차원이므로 각각의 행 데이터의 이름이 되는 행 인덱스(row index) 뿐 아니라 각각의 열 데이터의 이름이 되는 열 인덱스(column index)도 붙일 수 있음

### 데이터프레임 생성
1. 하나의 열이 되는 데이터를 리스트나 일차원 배열을 준비
1. 이 각각의 열에 대한 이름(라벨)을 키로 가지는 딕셔너리를 생성
1. 이 데이터를 DataFrame 생성자에 넣음. 동시에 열방향 인덱스는 `columns` 인수로, 행방향 인덱스는 `index` 인수로 지정

In [ ]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]

In [ ]:
df=pd.DataFrame(data, index=index, columns=columns)
print(df)

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

* 데이터프레임은 공통 인덱스를 가지는 열 시리즈(column series)를 딕셔너리로 묶어놓은 것이라고 보는 것이 더 정확
* 데이터프레임은 각 **열(column)마다** 자료형이 다를 수 있음 (2차원 배열이라고 보기엔 무리)
---
* 데이터만 접근하려면 `values` 속성 사용
* 열방향 인덱스 : `columns` 속성
* 행방향 인덱스 : `index` 속성

In [ ]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [ ]:
df.columns      #키리스트와 유사

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [ ]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [ ]:
# 시리즈처럼 열방향 인덱스와 행방향 인덱스에 이름을 붙이는 것도 가능
df.index.name="도시"
df.columns.name='특성'
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

### 🦆 연습문제 2
다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

1. 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.
1. 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

In [ ]:
data1={
    "a": [np.random.randint(20) for i in range(3)],
    # "b":[np.random.randn(30) for i in range(3)],
    "c" : ["가","나","다"],
    "d" : [0.2,0.345,0.21]
}

index1=["c","a","d"]
df1=pd.DataFrame(data1,index=index1)

print(df1)

    a  c      d
c  14  가  0.200
a  16  나  0.345
d   5  다  0.210

In [ ]:
# 데이터프레임은 전치(transpose)를 포함하여 넘파이 2차원 배열이 가지는 대부분의 속성이나 메서드를 지원

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

### 열 데이터의 갱신, 추가, 삭제
* 데이터프레임은 열 시리즈의 딕셔너리으로 볼 수 있으므로 열 단위로 데이터를 갱신하거나 추가, 삭제할 수 있음

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99

In [ ]:
del df["2010-2015 증가율"]

### 열 인덱싱
* 데이터프레임은 열 라벨을 키로, 열 시리즈를 값으로 가지는 딕셔너리와 유사
* 따라서 데이터프레임을 인덱싱을 할 때도 열 라벨(column label)을 키값으로 생각하여 인덱싱을 할 수 있음
* 인덱스로 라벨 값을 하나만 넣으면 시리즈 객체가 반환되고 라벨의 배열 또는 리스트를 넣으면 부분적인 데이터프레임이 반환

In [ ]:
# 하나의 열만 인덱싱하면 시리즈가 반환
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [ ]:
# 여러개의 열을 인덱싱하면 부분적인 데이터프레임이 반환
df[['2010','2015']]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

* 만약 하나의 열만 빼내면서 데이터프레임 자료형을 유지하고 싶다면 원소가 하나인 리스트를 써서 인덱싱

In [ ]:
# 2010이라는 열을 반환하면서 데이터프레임 자료형을 유지
df[["2010"]]

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [ ]:
type(df['2010'])

pandas.core.series.Series

In [ ]:
# 2010이라는 열을 반환하면서 시리즈 자료형으로 변환
df['2000']

도시
서울    9853972
부산    3655437
인천    2466338
대구    2473990
Name: 2000, dtype: int64

In [ ]:
# df[0] - 키에러. 반드시 문자열 인덱스 넣어야됨

* 데이터프레임의 열 인덱스가 문자열 라벨을 가지고 있는 경우에는 순서를 나타내는 정수 인덱스를 열 인덱싱에 사용할 수 없음
* 정수 인덱싱의 슬라이스는 행(row)을 인덱싱할 때 사용하므로 열을 인덱싱할 때는 쓸 수 없음 (정수 인덱스를 넣으면 KeyError 오류가 발생)

In [ ]:
# df[0] - 키에러. 반드시 문자열 인덱스 넣어야됨

* 다만 원래부터 문자열이 아닌 정수형 열 인덱스를 가지는 경우에는 인덱스 값으로 정수를 사용할 수 있음

In [ ]:
df2=pd.DataFrame(np.arange(12).reshape(3,-1))
df2=pd.DataFrame(np.arange(12).reshape(3,-1), columns=range(4))
print(df2)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df2[1]

0    1
1    5
2    9
Name: 1, dtype: int64

In [ ]:
df[(3,1)] #리스트에 넣어얃ㅁ

0     2
1     6
2    10
Name: 2, dtype: int64

In [ ]:
df3=pd.DataFrame(np.arange(12).reshape(3,-1), columns=range(1,5))

print(df3)

   1  2   3   4
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df3[3]    #원하는 값 이 나오지 않음 - 원래는 4번째 열을 얻고싶엇듬

0     2
1     6
2    10
Name: 3, dtype: int64

### 행 인덱싱
* 만약 행 단위로 인덱싱을 하고자 하면 항상 슬라이싱(slicing)을 해야함
* 인덱스의 값이 문자 라벨이면 라벨 슬라이싱도 가능

In [ ]:
df[:1]    #모든ㄴ 열 포함, 첫번째 값만.

특성   지역     2015     2010     2005     2000
도시
서울  수도권  9904312  9631482  9762546  9853972

In [ ]:
df[1:2]

특성   지역     2015     2010     2005     2000
도시
부산  경상권  3448737  3393191  3512547  3655437

In [ ]:
df[1:3]

특성   지역     2015     2010     2005     2000
도시
부산  경상권  3448737  3393191  3512547  3655437
인천  수도권  2890451  2632035  2517680  2466338

In [ ]:
df["서울":"부산"]

특성   지역     2015     2010     2005     2000
도시
서울  수도권  9904312  9631482  9762546  9853972
부산  경상권  3448737  3393191  3512547  3655437

In [ ]:
df2[1:2]

   0  1  2  3
1  4  5  6  7

### 개별 데이터 인덱싱
* 데이터프레임에서 열 라벨로 시리즈를 인덱싱하면 시리즈가 됨. 이 시리즈를 다시 행 라벨로 인덱싱하면 개별 데이터가 나옴.

In [ ]:
df['2015']    #열 먼저 조회!!!! - 시리즈

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 2015, dtype: int64

In [ ]:
df['2015'][0]

9904312

In [ ]:
  df['2015']['서울']

9904312

In [ ]:
df[['2015','2010']]

특성     2015     2010
도시
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

### 데이터 프레임 인덱싱 방법 정리
|인덱싱 값|가능|결과|자료형|추가사항|
|:-|:-|:-|:-|:-|
|라벨|O|열|시리즈||
|라벨 리스트|O|열|데이터프레임||
|인덱스 데이터 (정수)|X||열 라벨이 정수인 경우에는 라벨 인덱싱으로 인정|
|인덱스 데이터(정수) 슬라이스|O|행|데이터프레임||

### 🦆 연습문제 3
```
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
```
1. 모든 학생의 수학 점수를 시리즈로 나타낸다.
1. 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
1. 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
1. 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
1. 춘향의 점수를 데이터프레임으로 나타낸다.
1. 향단의 점수를 시리즈로 나타낸다.

In [ ]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
print(df)

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

#####정답

In [152]:
#1

#수학 접수가 든 열을 인덱스로 조회 - df[열 인덱스]
print(df["수학"])

#2
#2개 이상의 열을 조회 - 국어,영어 키를 사용해 키 리스트로 시리즈를 조회, 데이터프레임화
print(df[["국어","영어"]])

#3 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
#df['평균']=df.mean(axis=1)
df['평균']=(df['국어']+df['영어']+df['수학'])/3
print(df)

#4 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
df['영어']['방자']=80       #[영어][-1],[영어][3]
print(df)

#5 춘향의 점수를 데이터프레임으로 나타낸다.
print(df[0:1])
print(df[:1])
print(df.T[['춘향']].T)


#6 향단의 점수를 시리즈로 나타낸다.
# print(df[:]["향단"])
print(df.T['향단'])

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

<ipython-input-70-cd1802ac0e7a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['영어']['방자'] = 80

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  60.000000

    국어  영어  수학         평균
춘향  80  90  90  86.666667

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

# 데이터 입출력

## CSV 파일 입력

In [153]:
# 샘플 데이터 만들기
# comma seperated values - 쉼표로 구분된 값
%%writefile sample1.csv
c1,c2,c3
1,1.11,one
2,2.22,two
3,3.33,three

Writing sample1.csv

In [156]:
# pd.read_csv(파일이름) : CSV파일로부터 데이터를 읽어 데이터프레임 만들기
pd.read_csv(sample1.csv)

NameError: ignored

In [159]:
# 만약 데이터 파일에 열 인덱스 정보가 없는 경우에는 read_csv 명령의 names 인수로 설정 가능
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample2.csv

FileNotFoundError: ignored

In [161]:
# 만약 테이블 내의 특정한 열을 행 인덱스로 지정하고 싶으면 index_col 인수를 사용
df_csv3=pd.read_csv('sample2.csv',names=['c1','c2','c3'], index_col=2)
df_csv3

        c1    c2
c3
 one     1  1.11
 two     2  2.22
 three   3  3.33

## CSV 파일 출력

In [162]:
df=pd.read_csv('sample1.csv')
df['c4']=df['c1']+df['c2']
df

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [163]:
#~ 로 저장

df.to_csv('sample3.csv')

In [164]:
!cat sample3.csv

,c1,c2,c3,c4
0,1,1.11,one,2.1100000000000003
1,2,2.22,two,4.220000000000001
2,3,3.33,three,6.33

In [167]:
df_to_csv=pd.read_csv('sample3.csv', index_col=0)
df_to_csv

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [168]:
# df.to_(형식) 형태로 저장 가능

df.to_excel('sample3.xlsx')

In [169]:
pd.read_excel('sample3.xlsx',index_col=0)

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

## 인터넷 상의 CSV 파일 입력
* 웹상에는 다양한 데이터 파일이 CSV 파일 형태로 제공
* read_csv 명령 사용시 파일 패스 대신 URL을 지정하면 Pandas가 직접 해당 파일을 다운로드하여 읽어들임

In [172]:
url = 'https://github.com/BigData23th/DataAnalysis/raw/main/_data/titanic.csv'

pd.read_csv(url)

#csv형태라면 걍 그대~~~로읽어올수잇음!!!!

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* 데이터의 수가 많을 경우, 데이터프레임의 표현(representation)은 데이터 앞, 뒤의 일부분만 보여줌
* 보여줄 행의 수는 `display.max_rows` 옵션으로 정할 수 있다.

In [178]:
pd.set_option("display.max_rows",20)
df=pd.read_csv(url)        #무시함
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* 만약 앞이나 뒤의 특정 갯수만 보고 싶다면 `head` 메서드나 `tail` 메서드를 이용
* 메소드 인수로 출력할 행의 수를 넣을 수도 있음

In [181]:
print(df.head())
print(df.tail())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [182]:
print(df.tail(2))

     PassengerId  Survived  Pclass                   Name   Sex   Age  SibSp  \
889          890         1       1  Behr, Mr. Karl Howell  male  26.0      0
890          891         0       3    Dooley, Mr. Patrick  male  32.0      0

     Parch  Ticket   Fare Cabin Embarked
889      0  111369  30.00  C148        C
890      0  370376   7.75   NaN        Q