<a href="https://colab.research.google.com/github/hiid0726/DataAnalysis/blob/main/hiid0726/ch05_04_%EA%B8%B0%EC%88%A0%ED%86%B5%EA%B3%84%2B%EB%82%9C%EC%88%98%EB%B0%9C%EC%83%9D%EA%B3%BC%2B%EC%B9%B4%EC%9A%B4%ED%8C%85_ym.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기술 통계

## 기술 통계(descriptive statistics)
> 데이터 집합에 대해 통계를 계산
* 데이터의 개수(count)
* 평균(mean, average)
* 분산(variance)
* 표준 편차(standard deviation)
* 최댓값(maximum)
* 최솟값(minimum)
* 중앙값(median)
* 사분위수(quartile)

In [1]:
import numpy as np;

## 데이터의 개수

In [2]:
x = np.array([
    18, 5, 10, 23, 19, -8, 10, 0, 0, 5, 2, 15, 8,
    2, 5, 4, 15, -1, 4, -7, -24, 7, 9, -6, 23, -13
])
x

array([ 18,   5,  10,  23,  19,  -8,  10,   0,   0,   5,   2,  15,   8,
         2,   5,   4,  15,  -1,   4,  -7, -24,   7,   9,  -6,  23, -13])

In [3]:
len(x)

26

## 표본 평균
* 우리가 일반적으로 아는 평균
* 통계용어로는 표본 평균(sample average, sample mean)
<br>
$
\bar{x} = \frac{1}{N}\displaystyle\sum_{i=1}^{N}{x_i}
$
(𝑁은 데이터의 개수)

In [4]:
np.mean(x), x.mean()

(4.8076923076923075, 4.8076923076923075)

## 표본 분산
* 표본 분산(sample variance) : 데이터와 표본 평균간의 거리의 제곱의 평균
* 표본 분산이 작으면 데이터가 모여있는 것이고 크면 흩어져 있는 것
<br>
$
s^2 = \frac{1}{N}\displaystyle\sum_{i=1}^{N}{(x_i-\bar{x})^2}
$

In [5]:
np.var(x)

115.23224852071006

## 표본 표준편차
* 표본 표준편차(sample standard variance) : 표본 분산의 양의 제곱근 값 
<br>
$
s = \sqrt{s^2}
$

In [8]:
np.std(x)

10.734628476137871

## 최댓값과 최솟값

In [9]:
# 최댓값 (maximum) / 최솟값 (minimum)
np.max(x), np.min(x)

(23, -24)

## 중앙값
* 중앙값(median) : 데이터를 크기대로 정렬하였을 때 가장 가운데에 있는 수
* 만약 데이터의 수가 짝수이면 가장 가운데에 있는 두 수의 평균을 사용

In [12]:
np.median(x)

5.0

## 사분위수
* 사분위수(quartile) : 데이터를 가장 작은 수부터 가장 큰 수까지 크기가 커지는 순서대로 정렬하였을 때 1/4, 2/4, 3/4 위치에 있는 수
* 각각 1사분위수, 2사분위수, 3사분위수라고 함
* 1/4의 위치란 전체 데이터의 수가 만약 100개이면 25번째 순서, 즉 하위 25%
* 따라서 2사분위수는 중앙값과 같음
* 때로는 위치를 1/100 단위로 나눈 백분위수(percentile)을 사용하기도 함
* 1사분위수는 25% 백분위수와 같음

In [13]:
np.percentile(x,0)

-24.0

In [14]:
np.percentile(x,25) # 25% 백분위 수, 1사분위 수

0.0

In [15]:
np.percentile(x,50) # 50% 백분위 수, 2사분위 수 , 중앙값

5.0

In [16]:
np.percentile(x,75) # 75% 백분위 수, 3사분위 수

10.0

In [17]:
np.percentile(x,100) # 100% 백분위 수, 최댓값

23.0

# 난수 발생과 카운팅

## 시드 설정
* 컴퓨터 프로그램에서 발생하는 무작위 수는 사실 엄격한 의미의 무작위 수가 아님
* 어떤 특정한 시작 숫자를 정해 주면 컴퓨터가 정해진 알고리즘에 의해 마치 난수처럼 보이는 수열을 생성. 이런 시작 숫자를 시드(seed)라고 함
* 일단 생성된 난수는 다음번 난수 생성을 위한 시드값이 됨. 따라서 시드값은 한 번만 정해주면 됨.
* 시드는 보통 현재 시각 등을 이용하여 자동으로 정해지지만 사람이 수동으로 설정할 수도 있음 * 특정한 시드값이 사용되면 그 다음에 만들어지는 난수들은 모두 예측할 수 있음
* 고정된 결과를 얻기 위해서 실습엔 시드를 설정

In [22]:
np.random.seed(0); #시드값 고정

### `rand` : 0과 1 사이의 난수를 발생

In [23]:
np.random.rand(5) # rand(n) n개의 길이를 가지는 배열에 각각 0~1 사이의 난수를 채워준다.

array([0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ])

In [24]:
np.random.rand(10)

array([0.64589411, 0.43758721, 0.891773  , 0.96366276, 0.38344152,
       0.79172504, 0.52889492, 0.56804456, 0.92559664, 0.07103606])

## 데이터의 순서 변경

### `shuffle`
* 데이터의 순서를 변경
* 자체 변환(in-place) 함수 (원본에 영향)

In [25]:
x= np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
np.random.shuffle(x) #원소위치를 셔플해준다.
x

array([5, 1, 8, 2, 6, 7, 0, 3, 4, 9])

## 데이터 샘플링
* 표본선택 혹은 샘플링(sampling) : 이미 있는 데이터 집합에서 일부를 무작위로 선택하는 것

### `choice` : 샘플링에 사용
```
numpy.random.choice(a, size=None, replace=True, p=None)
```
* a : 배열이면 원래의 데이터, 정수이면 arange(a) 명령으로 데이터 생성
* size : 정수. 샘플 숫자
* replace : 불리언. True이면 한번 선택한 데이터를 다시 선택 가능 (복원/비복원 추출)
* p : 배열. 각 데이터가 선택될 수 있는 확률

In [27]:
np.random.choice(5, 5, replace= False) # => 5개 중에 5개를 선택, 비복원, shuffle

array([0, 4, 2, 1, 3])

In [28]:
np.random.choice(5, 3, replace= False)

array([4, 2, 3])

In [29]:
np.random.choice(5, 10, replace= True) # 5개 중에 10개 선택, 복원, shuffle

array([0, 2, 4, 3, 3, 2, 4, 2, 0, 0])

In [30]:
np.random.choice(5, 10, p = [0.1,0,0.3,0.6,0]) #각 원소별 나올 확률 지정...

array([2, 2, 2, 2, 3, 3, 3, 3, 0, 3])

In [31]:
np.random.choice([1,5,10,20,100], 10, p = [0.7,0.2,0.05,0.03,0.02])

array([ 1,  1,  1,  5,  1,  1,  1,  1, 20,  1])

## 난수 생성
* `rand` : 0부터 1 사이의 균일 분포
* `randn` : 표준 정규 분포
* `randint` : 균일 분포의 정수 난수

### `rand` : 0부터 1 사이에서 균일한 확률 분포로 실수 난수를 생성
* 숫자 인수는 생성할 난수의 크기
* 여러 개의 인수를 넣으면 해당 크기를 가진 행렬을 생성

In [32]:
np.random.rand(10)

array([0.63505887, 0.99529957, 0.58185033, 0.41436859, 0.4746975 ,
       0.6235101 , 0.33800761, 0.67475232, 0.31720174, 0.77834548])

In [33]:
np.random.rand(3,5)

array([[0.94957105, 0.66252687, 0.01357164, 0.6228461 , 0.67365963],
       [0.971945  , 0.87819347, 0.50962438, 0.05571469, 0.45115921],
       [0.01998767, 0.44171092, 0.97958673, 0.35944446, 0.48089353]])

### `randn` : 기댓값이 0이고 표준편차가 1인 표준 정규 분포(standard normal distribution)를 따르는 난수를 생성

In [34]:
np.random.randn(10)

array([ 0.72400636,  0.35900276,  1.07612104,  0.19214083,  0.85292596,
        0.01835718,  0.42830357,  0.99627783, -0.49114966,  0.71267817])

In [35]:
np.random.randn(3,5)

array([[ 1.11334035, -2.15367459, -0.41611148, -1.07089699,  0.22113881],
       [-1.12305712, -1.05075796,  1.01207905,  1.54371643, -0.40211489],
       [ 0.8647491 , -0.22686923,  0.81116027,  0.28779461, -0.53846816]])

### `randint`
```
numpy.random.randint(low, high=None, size=None)
```
만약 `high`를 입력하지 않으면 0과 `low`사이의 숫자, `high`를 입력하면 `low`와 `high`는 사이의 숫자를 출력. `size`는 난수의 숫자

In [37]:
np.random.randint(10, size = 10)

array([6, 5, 3, 1, 8, 0, 4, 9, 6, 5])

In [38]:
np.random.randint(10,20, size = 10)

array([17, 18, 18, 19, 12, 18, 16, 16, 19, 11])

In [40]:
np.random.randint(10,20, size = (3,5))

array([[16, 18, 18, 13, 12],
       [13, 16, 13, 16, 15],
       [17, 10, 18, 14, 16]])

## 💡 연습문제 7
1. 동전을 10번 던져 앞면(숫자 1)과 뒷면(숫자 0)이 나오는 가상 실험을 작성하라
2. 주사위를 100번 던져서 나오는 숫자의 평균
3. 가격이 10,000원인 주식이 있다. 이 주식의 일간 수익률(%)은 기댓값이 0%이고 표준편차가 1%인 표준 정규 분포를 따른다고 하자. 250일 동안의 주가를 무작위로 생성하라

In [41]:
# 1.
np.random.choice([0,1], size=10, replace=True)

array([1, 1, 1, 0, 1, 0, 0, 1, 1, 1])

In [43]:
# 2.
np.random.randint(1,7,100).mean()
np.random.choice(range(1,7), 100, replace = True).mean()

3.42

In [45]:
# 3.
a = np.random.randn(250)/100 # 일간 수익률의 표준정규분포를 따르는 (0.1%) 수익률 분포

In [46]:
init = 10000
stock = np.empty(250)
for i, v in enumerate(a):
  init *=(1+v)
  stock[i] = init
stock

array([10190.84621003, 10094.59914455, 10053.20627173, 10051.49517442,
       10089.60559282, 10317.56095507, 10313.20104769, 10214.61251788,
       10179.27182011, 10132.08112571, 10180.86521923, 10023.99875189,
       10030.3401334 , 10046.03827149, 10069.36326724, 10009.21734241,
        9985.40323937,  9843.20501524,  9794.64652774,  9741.47516503,
        9782.00457696,  9668.90675856,  9744.44007461,  9890.06922547,
        9685.34627354,  9726.63090764,  9792.47125379,  9730.0504163 ,
        9691.39566848,  9678.51768594,  9649.69594301,  9619.87713107,
        9458.64762419,  9567.64260637,  9670.93665476,  9592.27671248,
        9451.61323318,  9500.86227   ,  9446.15744802,  9459.56656733,
        9429.35948314,  9494.56715794,  9560.53058197,  9491.1596227 ,
        9359.86234153,  9211.70148659,  9267.92781292,  9157.74519512,
        9111.33224478,  9057.00009152,  9052.23907145,  8876.96239433,
        8893.72019937,  8940.31360118,  8948.21881306,  8920.40003815,
        8929.08852262,  8964.71972407,  8716.16455437,  8886.6450897 ,
        8921.3112988 ,  8863.10789823,  8828.45727875,  8872.04706063,
        8861.74626452,  8681.79215955,  8861.02713893,  8851.23210129,
        8941.52995584,  8879.65011139,  9016.0750182 ,  9041.89198   ,
        9096.94298184,  9001.8568791 ,  9110.88244468,  9173.73096673,
        9293.15883743,  9234.78966288,  9190.36782027,  9402.10623905,
        9302.44242525,  9289.79578262,  9395.41066847,  9404.59233052,
        9459.41674757,  9421.6311992 ,  9456.49650019,  9332.94483418,
        9487.69725578,  9476.48620892,  9412.02921522,  9474.74938559,
        9431.09734036,  9305.26212515,  9179.94653115,  9243.63453562,
        9228.88415018,  9216.54498813,  9315.87573086,  9210.90203882,
        9143.60002678,  9108.40815645,  9117.0020843 ,  9113.15731221,
        9087.01283106,  9081.41283199,  9071.66799686,  9006.38787584,
        8933.16657389,  8957.6895774 ,  8877.88416986,  8775.13551052,
        8747.73144229,  8733.93915515,  8931.0400123 ,  8868.1029487 ,
        8951.75228086,  9018.63872961,  8911.41207941,  8980.31983864,
        8874.00357064,  8638.02853129,  8690.4025848 ,  8537.80862415,
        8576.30854552,  8517.64566044,  8659.00031682,  8751.52254909,
        8711.84438823,  8651.92104592,  8546.88002756,  8509.19489917,
        8485.33890367,  8454.39342047,  8467.6417809 ,  8516.62890895,
        8546.40768152,  8481.10082651,  8359.16028194,  8473.22368622,
        8414.80511461,  8359.9158794 ,  8316.34489132,  8163.06887094,
        8124.05152381,  8085.08403834,  8135.2405281 ,  8192.06169717,
        8192.37061073,  8268.71108306,  8296.82180536,  8295.5206885 ,
        8308.870518  ,  8293.02936608,  8260.28437993,  8238.1688284 ,
        8145.24135051,  8168.08400426,  8086.96483345,  8155.0272578 ,
        8134.68384259,  8138.71010287,  8178.90204647,  8231.51810642,
        8102.23195615,  8085.46814039,  8156.6347259 ,  8018.12643695,
        8049.17907513,  7867.62467115,  7787.17767046,  7790.18590017,
        7661.12471386,  7585.62350718,  7473.97564486,  7597.15684829,
        7609.63348846,  7652.80219942,  7635.76131443,  7608.77410969,
        7485.78024013,  7463.9339365 ,  7407.09666088,  7470.64391523,
        7555.8915724 ,  7666.70466997,  7732.06730933,  7685.77898397,
        7600.01360794,  7658.28011407,  7685.56601606,  7549.64382592,
        7576.48143514,  7638.19337827,  7642.69422872,  7628.55114249,
        7566.93926456,  7457.4808624 ,  7517.16292882,  7493.92629237,
        7476.43047283,  7605.97616766,  7658.03915872,  7686.43708252,
        7697.3565738 ,  7814.35599814,  7948.73082832,  8022.61468767,
        8069.32432325,  7900.30400815,  7910.0784155 ,  7899.7868534 ,
        7907.20895827,  7981.77758296,  7763.10264499,  7718.90636591,
        7739.74003034,  7703.60739873,  7594.45451457,  7660.44755133,
        7681.65717846,  7607.06025452,  7631.00858895,  7693.70386521,
        7694.11106574,  7755.70741087,  7761.77704107,  7731.10024864,
        7641.46428621,  7634.89791734,  7649.73198482,  7716.73084372,
        7707.8483102 ,  7743.10521127,  7668.41428817,  7608.39904216,
        7600.00018379,  7519.84841859,  7581.52981261,  7616.6421766 ,
        7637.8999023 ,  7663.78506015,  7818.67349468,  7782.01453469,
        7610.69805388,  7625.86619008,  7622.00723176,  7582.56189291,
        7508.341513  ,  7475.36566382])

## 정수 데이터 카운팅
* 만약 난수가 정수값이면 unique 명령이나 bincount 명령으로 데이터 값을 분석

### `unique`
* unique 함수는 데이터에서 중복된 값을 제거하고 중복되지 않는 값의 리스트를 출력
* return_counts 인수를 True 로 설정하면 각 값을 가진 데이터 갯수도 출력

In [48]:
np.unique([11,11,2,2,34,34])

array([ 2, 11, 34])

In [49]:
a = np.array(['a','b','b','c','a'])
index, count =  np.unique(a, return_counts = True)

In [50]:
index, count

(array(['a', 'b', 'c'], dtype='<U1'), array([2, 2, 1]))

In [51]:
dict(zip(*np.unique(a, return_counts=True)))

{'a': 2, 'b': 2, 'c': 1}

### `bincount`
* `unique` 함수는 데이터에 존재하는 값에 대해서만 갯수를 세므로 데이터 값이 나올 수 있음에도 불구하고 데이터가 하나도 없는 경우에는 정보를 주지 않음
* 따라서 데이터가 주사위를 던졌을 때 나오는 수처럼 특정 범위안의 수인 경우에는 `bincount` 함수에 `minlength` 인수를 설정하여 쓰는 것이 더 편리
* `bincount` 함수는 0 부터 `minlength` - 1 까지의 숫자에 대해 각각 카운트
* 데이터가 없을 경우에는 카운트 값이 0이 됨

In [52]:
np.bincount([1,2,2,3,3], minlength = 6)

array([0, 1, 2, 2, 0, 0])