<a href="https://colab.research.google.com/github/hiid0726/DataAnalysis/blob/main/hiid0726/ch05_02_%EB%B0%B0%EC%97%B4%EC%9D%98_%EC%83%9D%EC%84%B1%EA%B3%BC_%EB%B3%80%ED%98%95_ym.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 배열의 생성과 변형

## Numpy의 자료형
* Numpy의 배열 즉, `ndarray` 클래스는 원소가 모두 같은 자료형이어야 함
* `array` 명령으로 배열을 만들 때 자료형을 명시적으로 적용하려면 `dtype` 인수를 사용
* 만약 `dtype` 인수가 없으면 주어진 데이터를 저장할 수 있는 자료형을 스스로 유추
* 만들어진 배열의 자료형을 알아내려면 `dtype` 속성을 사용

In [ ]:
import numpy as np;

x = np.array([1,2,3])
x.dtype

dtype('int64')

In [ ]:
x = np.array([1.1,2.2,3.3])
x.dtype

dtype('float64')

In [ ]:
x = np.array([1.1,2,3])
x.dtype

dtype('float64')

* `dtype` 인수
    * dtype 접두사로 시작하는 문자열
    * 접두사 뒤 오는 숫자 = 바이트 수 혹은 글자 수
    * 숫자 생략 시 운영체제에 따라 알맞은 크기 지정

|dtype 접두사|설명|사용 예|
|-|-|-|
|`b`|불리언|`b` (참 혹은 거짓)|
|`i`|정수|`i8` (64비트)|
|`u`|부호 없는 정수|`u8` (64비트)|
|`f`|부동소수점|`f8` (64비트)|
|`c`|복소 부동소수점|`c16` (128비트)|
|`O`|객체|`0` (객체에 대한 포인터)|
|`S`|바이트 문자열|`S24` (24 글자)|
|`U`|유니코드 문자열|`U24` (24 유니코드 글자)|

In [ ]:
x = np.array([1,2,3], dtype='f') #float -> default = 32bit
# x = np.array([1,2,3], dtype=float) #float -> default = 64bit
x.dtype

dtype('float32')

In [ ]:
x[0] + x[1]

3.0

In [ ]:
x = np.array([1,2,3], dtype='U')
x.dtype

dtype('<U1')

In [ ]:
x[0] + x[1]

'12'

## Inf와 NaN
* Numpy에서는 무한대를 표현하기 위한 `np.inf`(infinity)와 정의할 수 없는 숫자를 나타내는 `np.nan(not a number)`을 사용

In [ ]:
# 1을 0으로 나누려고 할 때, 0을 0으로 나누려고 시도...
np.array([1,2,-1,0]) / np.array([1,0,0,0])

<ipython-input-11-42958fdb6264>:2: RuntimeWarning: divide by zero encountered in true_divide
  np.array([1,2,-1,0]) / np.array([1,0,0,0])
<ipython-input-11-42958fdb6264>:2: RuntimeWarning: invalid value encountered in true_divide
  np.array([1,2,-1,0]) / np.array([1,0,0,0])

array([  1.,  inf, -inf,  nan])

In [ ]:
# 0에 대한 로그 값을 계산
np.log(0)

<ipython-input-12-cc64fe1345a2>:2: RuntimeWarning: divide by zero encountered in log
  np.log(0)

-inf

## 배열 생성
* `zeros`, `ones`
* `zeros_like`, `ones_like`
* `empty`
* `arange`
* `linspace`, `logspace`

### zeros : 크기가 정해져 있고 모든 값이 0인 배열 생성

In [ ]:
# 정수를 넣으면 해당 크기의 0으로 채워진 1차원 배열 생성
a = np.zeros(5)
a

array([0., 0., 0., 0., 0.])

In [ ]:
# 튜플을 넣으면 해당 크기의 0으로 채워진 다차원 배열 생성
b = np.zeros((2,3))
b

array([[0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
# dtype 인수 명시 시 해당 자료형 원소 타입 부여
c = np.zeros((5,2), dtype = 'i');
c

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0]], dtype=int32)

In [ ]:
# 문자열 배열도 가능하지만, 모든 원소의 문자열 크기가 같아야 함
# 만약 더 큰 크기의 문자열을 할당하면 잘림
d = np.zeros(5, dtype='U4') # 빈 문자로 5개까지 찬 배열, -> 단 배열에 문자열을 넣었을때 최대길이는 4byte이다.

In [ ]:
d[0] = "ABC"
d[1] = "ABCD"
d[2] = "ABCDE"  # 넘어가는 자리는 삭제된다.
d

array(['ABC', 'ABCD', 'ABCD', '', ''], dtype='<U4')

array(['abc', 'abcd', 'ABCD', '', ''], dtype='<U4')

### ones : 1로 초기화된 배열을 생성

In [ ]:
e = np.ones((2,3,4), dtype = 'f8')
e

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

### ones_like, zeros_like : 다른 배열과 같은 크기의 배열을 생성

In [ ]:
f = np.ones_like(b, dtype='f') ## b와 같은 형태로 1로 채워주세요
f

array([[1., 1., 1.],
       [1., 1., 1.]], dtype=float32)

### empty : 값 초기화 없이 배열을 생성 (시간 절약)
* 기존 메모리에 저장되어 있던 값이 있음
* 배열의 원소 값을 미리 알 수 없음

In [ ]:
 g = np.empty((4,3))
 g # 앞에 누군가가 사용하던 내역이 남아서 나옴.... ^--^

array([[3.2442959e-316, 0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000, 0.0000000e+000],
       [0.0000000e+000, 0.0000000e+000, 0.0000000e+000]])

### arange : 특정 규칙에 따라 증가하는 수열을 만듦 (like `range`)

In [ ]:
np.arange(10), np.array(range(10))

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]))

In [ ]:
np.arange(3,20,2,dtype = 'f'), np.array(range(3,20,2),dtype='f')

(array([ 3.,  5.,  7.,  9., 11., 13., 15., 17., 19.], dtype=float32),
 array([ 3.,  5.,  7.,  9., 11., 13., 15., 17., 19.], dtype=float32))

,### linspace, logspace : 선형 구간 또는 로그 구간을 지정한 구간의  수만큼 분할

In [ ]:
np.linspace(0,100,5) #시작 포함, 끝 포함, 나누는 갯수

array([  0.,  25.,  50.,  75., 100.])

In [ ]:
np.logspace(0.1,1,10)

array([ 1.25892541,  1.58489319,  1.99526231,  2.51188643,  3.16227766,
        3.98107171,  5.01187234,  6.30957344,  7.94328235, 10.        ])

## 전치 연산 (transpose)
* 2차원 배열에서 행과 열을 바꾸는 작업
* 배열의 `T` **속성**

In [ ]:
arr = np.array([range(1,4), range(4,7)])
arr, arr.ndim, arr.shape

(array([[1, 2, 3],
        [4, 5, 6]]), 2, (2, 3))

In [ ]:
arr2 = arr.T
arr2,  arr2.ndim, arr2.shape

(array([[1, 4],
        [2, 5],
        [3, 6]]), 2, (3, 2))

## 배열의 크기 변형 (`reshape`)

In [ ]:
a = np.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [ ]:
b = a.reshape(3,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
# 사용하는 원소의 갯수가 정해져 있기 때문에
# reshape 명령의 형태 튜플 원소 중 하나는 -1으로 대체 가능
# -1을 넣으면 해당 숫자는 다른 값을 통해 계산되어서 사용
c = a.reshape(3,-1)
c

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
d = a.reshape(2,2,-1)
d

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [ ]:
e = a.reshape(2,-1, 2)
e

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]]])

## 배열 평탄화 (`flatten`, `ravel`)
* 다차원 배열을 1차원으로 변환

In [ ]:
a.reshape(len(a)) ## 전체 길이를 입력

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [ ]:
a.reshape(-1)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [ ]:
a.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [ ]:
a.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

## 같은 배열에 대해 차원만 1차원 증가 (`newaxis`)

In [ ]:
x = np.arange(5)
print(x)
x2 = x[:,np.newaxis]
print(x2)
x3 = x[np.newaxis,:]
print(x3)
x.ndim, x.shape, x2.ndim, x2.shape,x3.ndim, x3.shape

[0 1 2 3 4]
[[0]
 [1]
 [2]
 [3]
 [4]]
[[0 1 2 3 4]]

(1, (5,), 2, (5, 1), 2, (1, 5))

## 배열 연결
* 행의 수나 열의 수가 같은 두 개 이상의 배열을 연결하여 더 큰 배열을 생성 (concatenate)
    * `hstack`
    * `vstack`
    * `dstack`
    * `stack`
    * `r_`
    * `c_`
    * `tile`

### `concatenate`

In [4]:
import numpy as np;

arr1 = np.arange(1,4)
arr2 = np.arange(4,7)
arr1 + arr2 ## 연산을 해줌
np.concatenate((arr1, arr2)) ## 행렬을 이어준다.

array([1, 2, 3, 4, 5, 6])

In [6]:
arr1 = arr1.reshape(3,1)
arr2 = arr2.reshape(3,1)

x1 = np.concatenate((arr1,arr2))
print(x1, x1.ndim, x1.shape)
x2 = np.concatenate((arr1,arr2), axis = 1) # axis = 0 -> 행, axis = 1 -> 열 
print(x1, x1.ndim, x1.shape)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]] 2 (6, 1)
[[1]
 [2]
 [3]
 [4]
 [5]
 [6]] 2 (6, 1)

### `hstack`
* 행의 수가 같은 두 개 이상의 배열을 옆으로 연결하여 열의 수가 더 많은 배열을 만듦
* 연결할 배열은 하나의 리스트에 담아야 함

In [8]:
a1 = np.ones((2,3))
a1

array([[1., 1., 1.],
       [1., 1., 1.]])

In [9]:
a2 = np.zeros((2,2))
a2

array([[0., 0.],
       [0., 0.]])

In [10]:
ha = np.hstack((a1, a2)) # 행을 기준으로 합쳐서 열이 변화함
ha, ha.ndim, ha.shape

(array([[1., 1., 1., 0., 0.],
        [1., 1., 1., 0., 0.]]), 2, (2, 5))

In [12]:
np.concatenate((a1,a2), axis = 1) #열이 변화함. 행은 그대로이다.

array([[1., 1., 1., 0., 0.],
       [1., 1., 1., 0., 0.]])

### `vstack`
* 열의 수가 같은 두 개 이상의 배열을 위아래로 연결하여 행의 수가 더 많은 배열을 만듦
* 연결할 배열은 하나의 리스트에 담아야 함

In [15]:
ar1 = np.ones((2,3))
ar1

array([[1., 1., 1.],
       [1., 1., 1.]])

In [16]:
ar2 = np.zeros((3,3))
ar2, ar2.ndim, ar2.shape

(array([[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]), 2, (3, 3))

In [18]:
b = np.vstack((ar1, ar2)) # 열을 기준으로 합쳐서 행이 변한다.
b, b.ndim, b.shape

(array([[1., 1., 1.],
        [1., 1., 1.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]), 2, (5, 3))

In [21]:
c = np.concatenate((ar1,ar2), axis = 0)
c

array([[1., 1., 1.],
       [1., 1., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

### `dstack`
* 제3의 축 즉, 행이나 열이 아닌 깊이(depth) 방향으로 배열을 합침
* 가장 안쪽의 원소의 차원이 증가, 즉 가장 내부의 숫자 원소가 배열이 됨

In [23]:
c1 = np.ones((3,4))
c1, c1.ndim, c1.shape

(array([[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]), 2, (3, 4))

In [24]:
c2 = np.zeros((3,4))
c2, c2.ndim, c2.shape

(array([[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]), 2, (3, 4))

In [25]:
cc = np.dstack((c1, c2))
cc, cc.ndim, cc.shape

(array([[[1., 0.],
         [1., 0.],
         [1., 0.],
         [1., 0.]],

        [[1., 0.],
         [1., 0.],
         [1., 0.],
         [1., 0.]],

        [[1., 0.],
         [1., 0.],
         [1., 0.],
         [1., 0.]]]), 3, (3, 4, 2))

In [26]:
cc2 = np.concatenate((c1,c2), axis = 2) ### 이건 concattenate로 안된다.
cc2, cc2.ndim, cc2.shape

AxisError: ignored

In [27]:
np.concatenate((c1[:,:,np.newaxis],c2[:,:,np.newaxis]), axis = 2) # -- 풀어쓰면 이렇게 된다.

array([[[1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.]],

       [[1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.]],

       [[1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.]]])

In [28]:
[np.full((4,4),i) for i in range(10)]

[array([[0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0]]), array([[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]), array([[2, 2, 2, 2],
        [2, 2, 2, 2],
        [2, 2, 2, 2],
        [2, 2, 2, 2]]), array([[3, 3, 3, 3],
        [3, 3, 3, 3],
        [3, 3, 3, 3],
        [3, 3, 3, 3]]), array([[4, 4, 4, 4],
        [4, 4, 4, 4],
        [4, 4, 4, 4],
        [4, 4, 4, 4]]), array([[5, 5, 5, 5],
        [5, 5, 5, 5],
        [5, 5, 5, 5],
        [5, 5, 5, 5]]), array([[6, 6, 6, 6],
        [6, 6, 6, 6],
        [6, 6, 6, 6],
        [6, 6, 6, 6]]), array([[7, 7, 7, 7],
        [7, 7, 7, 7],
        [7, 7, 7, 7],
        [7, 7, 7, 7]]), array([[8, 8, 8, 8],
        [8, 8, 8, 8],
        [8, 8, 8, 8],
        [8, 8, 8, 8]]), array([[9, 9, 9, 9],
        [9, 9, 9, 9],
        [9, 9, 9, 9],
        [9, 9, 9, 9]])]

### `stack`
* `dstack`의 기능을 확장한 것으로 `dstack`처럼 마지막 차원으로 연결하는 것이 아니라 사용자가 지정한 차원(축으로) 배열을 연결
* axis 인수(디폴트 0)를 사용하여 연결후의 회전 방향을 정함
* 디폴트 인수값은 0이고 가장 앞쪽에 차원이 생성. 즉, 배열 두 개가 겹치게 되므로 연결하고자 하는 배열들의 크기가 모두 같아야 함

In [35]:
np_info = lambda arr : (arr, arr.ndim, arr.shape)
np_info
c = np.stack([c1, c2], axis = 0)
print(np_info(c1))
print(np_info(c2))
print(np_info(c))

(array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]]), 2, (3, 4))
(array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]]), 2, (3, 4))
(array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]]), 3, (2, 3, 4))

(2, 3, 4)

* `axis` 인수가 1이면 두번째 차원으로 새로운 차원이 삽입

array([[[1., 1., 1., 1.],
        [0., 0., 0., 0.]],

       [[1., 1., 1., 1.],
        [0., 0., 0., 0.]],

       [[1., 1., 1., 1.],
        [0., 0., 0., 0.]]])

(3, 2, 4)

### `r_`
* `hstack` 명령과 비슷하게 배열을 좌우로 연결
* 다만 메서드임에도 불구하고 소괄호(parenthesis, `()`)를 사용하지 않고 인덱싱과 같이 대괄호(bracket, `[]`)를 사용
* 이런 특수 메서드를 인덱서(indexer)라고 함

In [36]:
np.r_[np.arange(1,4), np.arange(4,7)] ## 연결

array([1, 2, 3, 4, 5, 6])

### `c_`
* 배열의 차원을 증가시킨 후 좌우로 연결

In [40]:
np.r_[np.arange(1,5).reshape(2,2), np.arange(4,8).reshape(2,2)]

array([[1, 2],
       [3, 4],
       [4, 5],
       [6, 7]])

### `tile`
* 동일한 배열을 반복하여 연결

In [43]:
a = np.arange(6).reshape(2,-1)
np_info(a)

(array([[0, 1, 2],
        [3, 4, 5]]), 2, (2, 3))

In [44]:
np.tile(a,2) # hstack 반복

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5]])

In [45]:
np.tile(a,(3,2))

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5]])

## 💡 연습문제 4
```
array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])
```

In [47]:
a = np.zeros(3, dtype = 'f')
a

array([0., 0., 0.], dtype=float32)

In [49]:
b = np.ones(2, dtype = 'f')
b

array([1., 1.], dtype=float32)

In [51]:
# c = np.hstack((a,b))
#c = np.r_(a,b)
c = np.concatenate((a,b))
c

array([0., 0., 0., 1., 1.], dtype=float32)

In [53]:
d = np.tile(c,(3,1))
d

array([[0., 0., 0., 1., 1.],
       [0., 0., 0., 1., 1.],
       [0., 0., 0., 1., 1.]], dtype=float32)

In [54]:
e = np.arange(10,160,10, dtype = 'f')
e

array([ 10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100., 110.,
       120., 130., 140., 150.], dtype=float32)

In [56]:
f = e.reshape(3,5)
# e.reshape(3,-1)
# e.reshape(-1,5)
f

array([[ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]], dtype=float32)

In [57]:
g = np.vstack([d,f])
#g = np.concatenate([d,f], axis = 0)
g

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]], dtype=float32)

In [58]:
h = np.tile(g,(2,1)) #합치기
h

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]], dtype=float32)

## 배열 분할

In [59]:
arr = np.arange(1,7)
arr

array([1, 2, 3, 4, 5, 6])

In [60]:
newarr = np.array_split(arr,3)
newarr = np.split(arr,3)
newarr

[array([1, 2]), array([3, 4]), array([5, 6])]

In [61]:
arr = np.arange(1,19).reshape(-1,3)
arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [62]:
a = np.array_split(arr,3)
a

[array([[1, 2, 3],
        [4, 5, 6]]), array([[ 7,  8,  9],
        [10, 11, 12]]), array([[13, 14, 15],
        [16, 17, 18]])]

In [64]:
b = np.array_split(arr,3, axis = 1)
b

[array([[ 1],
        [ 4],
        [ 7],
        [10],
        [13],
        [16]]), array([[ 2],
        [ 5],
        [ 8],
        [11],
        [14],
        [17]]), array([[ 3],
        [ 6],
        [ 9],
        [12],
        [15],
        [18]])]