<a href="https://colab.research.google.com/github/andy9806/DataAnalysis_23/blob/main/andy9806/0310_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
import pandas as pd
import numpy as np

In [26]:
data = ['02','031','032','082']
index = ['서울','경기','인천','광주']
s = pd.Series(data,index=index)
s

서울     02
경기    031
인천    032
광주    082
dtype: object

In [27]:
pd.Series(range(11,17))

0    11
1    12
2    13
3    14
4    15
5    16
dtype: int64

In [28]:
s.index

Index(['서울', '경기', '인천', '광주'], dtype='object')

In [29]:
s.value_counts()

02     1
031    1
032    1
082    1
dtype: int64

In [30]:
s.values

array(['02', '031', '032', '082'], dtype=object)

In [31]:
s.unique()

array(['02', '031', '032', '082'], dtype=object)

In [32]:
s.nunique()

4

In [33]:
s.name ='지역번호'
s

서울     02
경기    031
인천    032
광주    082
Name: 지역번호, dtype: object

In [34]:
s.index.name='도시'
s

도시
서울     02
경기    031
인천    032
광주    082
Name: 지역번호, dtype: object

In [35]:
# 시리즈 타입이 int,float이면 s/1000으로 값에만 영향을 줘서 연산 가능

In [38]:
s[0] , s[1] , s[2] , s[3] , s[-1]

('02', '031', '032', '082', '082')

In [39]:
s['서울']

'02'

In [41]:
s[[0,3,1]] , s[['서울','광주','경기']]

(도시
 서울     02
 광주    082
 경기    031
 Name: 지역번호, dtype: object, 도시
 서울     02
 광주    082
 경기    031
 Name: 지역번호, dtype: object)

In [44]:
# s[s>5000]  숫자값이면 비교연산 가능 (불리언 배열 인덱싱)

In [45]:
s[1:3]

도시
경기    031
인천    032
Name: 지역번호, dtype: object

In [47]:
s[::2]

도시
서울     02
인천    032
Name: 지역번호, dtype: object

In [49]:
s['서울':'광주'] , s['경기':'인천']

(도시
 서울     02
 경기    031
 인천    032
 광주    082
 Name: 지역번호, dtype: object, 도시
 경기    031
 인천    032
 Name: 지역번호, dtype: object)

In [51]:
s0 = pd.Series(range(3),index=['a','b','c'])
# index=list('abc') 도 동일
s0

a    0
b    1
c    2
dtype: int64

In [53]:
s0.a , s0.b , s0.c

(0, 1, 2)

In [56]:
s0.a =100

In [57]:
s0

a    100
b      1
c      2
dtype: int64

In [58]:
'서울' in s

True

In [59]:
'서울' not in s

False

In [62]:
s.items()

In [63]:
[k for k,v in s.items()]

['서울', '경기', '인천', '광주']

In [64]:
[v for k,v in s.items()]

['02', '031', '032', '082']

In [70]:
s2 = pd.Series({
    '서울':9631482,
    '대전':1235431,
    '대구':4651235,
    '부산':8451354,
},index = ['부산','대구','대전','서울']
)
s2

부산    8451354
대구    4651235
대전    1235431
서울    9631482
dtype: int64

In [71]:
s3 = pd.Series({
    '서울':9631232,
    '대전':1233631,
    '대구':4651235,
    '부산':8454554,
},index = ['대구','대전','서울','부산']
)
s3

대구    4651235
대전    1233631
서울    9631232
부산    8454554
dtype: int64

In [72]:
s2-s3   # 인덱스가 같은 데이터에 대해서 차이를 구해줌

대구       0
대전    1800
부산   -3200
서울     250
dtype: int64

In [74]:
s3['강원']=55861
s3

대구    4651235
대전    1233631
서울    9631232
부산    8454554
강원      55861
dtype: int64

In [75]:
del s3['강원']
s3

대구    4651235
대전    1233631
서울    9631232
부산    8454554
dtype: int64

In [77]:
d1 = pd.Series(range(5),index=list('abcde'))
d2 = pd.Series(range(11,16),index=list('aqwer'))

In [78]:
print(d1)
print(d2)

a    0
b    1
c    2
d    3
e    4
dtype: int64
a    11
q    12
w    13
e    14
r    15
dtype: int64

In [79]:
d1+d2

a    11.0
b     NaN
c     NaN
d     NaN
e    18.0
q     NaN
r     NaN
w     NaN
dtype: float64

In [80]:
(d1+d2).dropna()

a    11.0
e    18.0
dtype: float64

In [81]:
# [chr(a) for a in range(65,91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [84]:
str_index = lambda x:np.random.choice(list(map(chr,range(65,71))),x,replace=False)

In [85]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]

In [86]:
df = pd.DataFrame(data,index=index ,columns=columns)

In [87]:
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [89]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [90]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [91]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [93]:
df.index.name = '도시'
df.columns.name = '특성'

In [94]:
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [95]:
df1 = pd.DataFrame()

In [96]:
df1

Empty DataFrame
Columns: []
Index: []

In [106]:
df1['a']=pd.Series(np.random.normal(10,3,5))
df1['b']=pd.Series(np.random.choice(list(map(chr,range(65,71))),5,replace=False))
df1['c']=pd.Series(np.random.randint(1,10,5))
df1['d']=pd.Series(np.random.randn(5))
df1['e']=pd.Series(np.arange(5))

In [109]:
df1.index = ['a','b','c','d','e']
df1

           a  b  c         d  e
a  14.604354  C  2  1.471255  0
b  11.987767  A  1  0.647818  1
c   4.275158  B  6 -0.241740  2
d   8.642080  E  8  1.493072  3
e   9.077866  F  2  0.068328  4

In [123]:
a=pd.DataFrame({
    'a':np.random.randn(5),
    'b':np.random.rand(5),
    'c':np.random.randint(0,10,5),
    'd':np.linspace(0,1,5),
    'e':np.random.choice(list('ABCDE'),5,replace=False)
},index = list('ABCDE'))
a

          a         b  c     d  e
A  0.455462  0.639610  1  0.00  C
B  0.239336  0.119805  9  0.25  E
C -0.251894  0.543182  7  0.50  D
D -1.521344  0.443171  9  0.75  A
E  0.936517  0.379284  7  1.00  B

In [125]:
a.a = a.a *100
a

            a         b  c     d  e
A   45.546191  0.639610  1  0.00  C
B   23.933614  0.119805  9  0.25  E
C  -25.189386  0.543182  7  0.50  D
D -152.134435  0.443171  9  0.75  A
E   93.651749  0.379284  7  1.00  B

In [121]:
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [122]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [126]:
df4 = pd.DataFrame(np.arange(12).reshape(3,-1))
df4

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [127]:
df4 = pd.DataFrame(np.arange(12).reshape(3,-1),columns=range(2,6))
df4

   2  3   4   5
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [129]:
df['2015']

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 2015, dtype: int64

In [132]:
df['2015'][0] , df['2015']['서울']

(9904312, 9904312)

In [199]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
dfa = pd.DataFrame(data, index=index, columns=columns)
dfa

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [200]:
dfa.수학

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [201]:
dfa[['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [207]:
dfa['평균']=dfa.T.mean()

In [208]:
dfa

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

In [209]:
dfa.영어.방자=80

/usr/local/lib/python3.9/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [210]:
dfa

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  46.666667

In [211]:
dfa['평균']=dfa.T.mean()
dfa

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  56.666667

In [231]:
url = "https://github.com/BigData23th/DataAnalysis/raw/main/_data/titanic.csv"
dft = pd.read_csv(url)
dft

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q