<a href="https://colab.research.google.com/github/Yeaaaaaaah/DataAnalysis/blob/main/Yeaaaaaaah/ch06_01_pandas_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas?
* 대부분의 데이터는 시계열(series)나 표(table)로 나타낼 수 있음
* 판다스(Pandas)는 이러한 데이터를 다루기 위한 시리즈(`Series`) 클래스와 데이터 프레임(`DataFrame`) 클래스를 제공

In [1]:
import pandas as pd

## 시리즈 (Series)
* 시리즈는 Numpy에서 제공하는 1차원 배열과 비슷
* 각 데이터의 의미(이름)를 표시하는 인덱스(index)를 붙일 수 있음
> 데이터 자체는 값(value)라고 함
> 시리즈 = 값(value) + 인덱스(index)

### 시리즈 생성
* 데이터를 리스트나 1차원 배열 형식으로 Series 클래스 생성자에 넣어주면 시리즈 클래스 객체를 만들 수 있음
* 이 때 인덱스의 길이는 데이터의 길이와 같아야 함
* 인덱스의 값을 인덱스 라벨(label)이라고도 함 
* 인덱스 라벨은 문자열 뿐 아니라 날짜, 시간, 정수 등도 가능

In [4]:
data = [9904312, 3448737, 2890451, 2466052]
index = ["서울", "부산", "인천", "대구"]
s = pd.Series(data, index=index)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

* 만약 인덱스를 지정하지 않고 시리즈를 만들면 시리즈의 인덱스는 0부터 시작하는 정수값이 됨

In [5]:
# pd.Series(range(10,14), index=range(4))
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

* 시리즈의 인덱스는 `index` 속성으로 접근할 수 있음
* 시리즈의 값은 1차원 배열이며 `values` 속성으로 접근할 수 있음

In [6]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.values #s.values()는 안됨

array([9904312, 3448737, 2890451, 2466052])

* `name` 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음
* `index.name` 속성으로 시리즈의 인덱스에도 이름을 붙일 수 있음

In [10]:
s.name = '인구'
s.index.name ='도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### 시리즈 연산
* 넘파이 배열처럼 시리즈도 벡터화 연산을 할 수 있음 
* 다만 **연산은 시리즈의 값에만 적용되며 인덱스 값은 변하지 않음**

In [11]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### 시리즈 인덱싱 & 슬라이싱
* 시리즈는 Numpy 배열에서 가능한 인덱스 방법 이외에도 인덱스 라벨을 이용한 인덱싱도 할 수 있음 
* 배열 인덱싱이나 인덱스 라벨을 이용한 슬라이싱(slicing)도 가능

In [13]:
s[1], s['부산'] # 시리즈 = 순서가 있는 딕셔너리. 그래서 인덱스와 인덱스값(key값) 모두로 시리즈 데이터 값 호출가능

(3448737, 3448737)

In [14]:
s[3], s['대구']

(2466052, 2466052)

In [15]:
s[-1]

2466052

In [17]:
s[[0, 3, 1]] #인덱스에 튜플이 들어감?

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [18]:
s[["서울", "부산"]]

도시
서울    9904312
부산    3448737
Name: 인구, dtype: int64

In [21]:
s[s>5000000] #벡터연산이 됨 => 불리언 배열 인덱싱도 작동함.
s[ (250e4 < s) & (s < 500e4)] # 인구가 250만 초과, 500만 미만인 경우(e=0인 경우)

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

* 슬라이싱을 해도 부분적인 시리즈를 반환
* 이 때 *문자열 라벨을 이용한 슬라이싱*을 하는 경우에는 **숫자 인덱싱과 달리 콜론(:) 기호 뒤에 오는 값도 결과에 포함**되므로 주의

In [23]:
s[1:3] # 두번쨰(1index)부터 세번쨰(2)까지, = 네번째(3) 직전까지

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [25]:
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [26]:
s["부산":"대구"] # 문자열 라벨을 이용한 슬라이싱이라 대구도 포함

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

* 만약 라벨 값이 영문 문자열인 경우에는 인덱스 라벨이 속성인것처럼 점(.)을 이용하여 해당 인덱스 값에 접근할 수도 있음

In [28]:
import numpy as np
#s0 = pd.Series(range(3), index=['a', 'b', 'c'])
s0 = pd.Series(range(3), index=list('abc'))
s0

a    0
b    1
c    2
dtype: int64

In [29]:
s0.a, s0.b, s0.c #변수화 할수있는 이름이라면 1) 숫자로 시작하지않을것 2.공백을 포함하지 않을것. 3.이상한 특수문자 포함않을것

(0, 1, 2)

In [30]:
# 근데 한국어도 됌
s.부산

3448737

### 시리즈와 딕셔너리 자료형
* 시리즈 객체는 라벨 값에 의해 인덱싱이 가능하므로 실질적으로 인덱스 라벨 값을 키(key)로 가지는 딕셔너리 자료형과 유사
* 따라서 딕셔너리 자료형에서 제공하는 in 연산도 가능하고 items 메서드를 사용하면 for 루프를 통해 각 원소의 키(key)와 값(value)을 접근할 수도 있음

In [ ]:
"서울" in s #시리즈 s안에 서울이라는 인덱스 라벨(키)가 존재하는지?

True

In [34]:
"대전" not in s

True

In [40]:
for k, v in s.items():    #######################3
  print(k+ "=" + str(v))
  print(f"{k} = {v}")
  print("{k} = {v}".format(k=k, v=v))
  print("{k} = {v}".format(k=k, v=v))

서울=9904312
서울 = 9904312
서울 = 9904312
부산=3448737
부산 = 3448737
부산 = 3448737
인천=2890451
인천 = 2890451
인천 = 2890451
대구=2466052
대구 = 2466052
대구 = 2466052

* 딕셔너리 객체에서 시리즈를 만들 수도 있음

In [41]:
s2 = pd.Series({
    "서울":    963148,
    "부산":    3393191,
    "인천":    2632035,
    "대전":    1490158,
})
s2

서울     963148
부산    3393191
인천    2632035
대전    1490158
dtype: int64

* 딕셔너리의 원소는 순서를 가지지 않으므로 시리즈의 데이터도 순서가 보장되지 않음
* 만약 순서를 정하고 싶다면 인덱스를 리스트로 지정해야 함

In [42]:
s2 = pd.Series({
    "서울":    963148,
    "부산":    3393191,
    "인천":    2632035,
    "대전":    1490158,
}, index=["부산", "서울", "인천", "대전"]) #내부 입력순서 상관없이 인덱스로 순서지정
s2

부산    3393191
서울     963148
인천    2632035
대전    1490158
dtype: int64

### 인덱스 기반 연산
* 두 시리즈에 대해 연산을 하는 경우 인덱스가 같은 데이터에 대해서만 차이를 구함

In [43]:
print(s)
print(s2)

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64
부산    3393191
서울     963148
인천    2632035
대전    1490158
dtype: int64

In [44]:
ds = s - s2
ds  #NaN은 not a number의 약자. 이유 : 없는 인덱스는 Null임. 그래서 Null이랑 숫자랑 연산하면 NaN이 나온다

대구          NaN
대전          NaN
부산      55546.0
서울    8941164.0
인천     258416.0
dtype: float64

In [45]:
ds = s * s2
ds

대구             NaN
대전             NaN
부산    1.170222e+13
서울    9.539318e+12
인천    7.607768e+12
dtype: float64

In [46]:
ds = s > s2 #비교는 인덱스가 완전 같아야가능함
ds

ValueError: ignored

In [49]:
s.values, s2.values, s.values - s2.values #같은 위치의 값을 뺌. = 정확한 계산은 아님

(array([9904312, 3448737, 2890451, 2466052]),
 array([3393191,  963148, 2632035, 1490158]),
 array([6511121, 2485589,  258416,  975894]))

In [56]:
# NaN인 값을 제외하고 구하고 싶다면 notnull 메소드를 사용
ds = s - s2
ds.notnull()
# ds.notnull() !=True #반대로 나옴
# ds.notnull() !=1
# ds.notnull().eq(0)

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [60]:
ds = s - s2
ds[ds.notnull()]

부산      55546.0
서울    8941164.0
인천     258416.0
dtype: float64

In [58]:
# 인구 증가율 구하기 (%)
# s: 2015, s2: 2010, 2010 -> 2015 인구증가율
# (s - s2) / s2 * 100
rs = (s - s2)/ s2 * 100
rs = rs[rs.notnull()]
rs

부산      1.636984
서울    928.327111
인천      9.818107
dtype: float64

### 데이터의 갱신, 추가, 삭제
* 인덱싱을 이용하여 딕셔너리처럼 데이터를 갱신(update) 혹은 추가(add)

In [61]:
rs["부산"] = 1.63
rs

부산      1.630000
서울    928.327111
인천      9.818107
dtype: float64

In [63]:
rs["대구"] = 1.41
rs

부산      1.630000
서울    928.327111
인천      9.818107
대구      1.410000
dtype: float64

In [64]:
# 데이터 삭제시 del 명령 사용
del rs["서울"]
rs

부산    1.630000
인천    9.818107
대구    1.410000
dtype: float64

### 🦆 연습문제 1
1. 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.
1. 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

In [75]:
import numpy as np
import pandas as pd

In [86]:
# 랜덤 시리즈 객체 생성
# [chr(a) for a in range(65,91)] # chr :아스키코드 뽑아줌
# np.random.choice(list(map(chr,range(65,91))), 6, replace=False)
str_index = lambda x: np.random.choice(list(map(chr, range(65,75))), 6, replace = False)
value_count = 6
s1 = pd.Series(np.random.randn(value_count), str_index(value_count))
s2 = pd.Series(np.random.randn(value_count), str_index(value_count))
print(s1)
print(s2)

G    0.620171
A    1.584905
H    0.330022
I    1.009685
J   -0.822236
C    0.273498
dtype: float64
I    0.587966
G   -0.121122
B   -0.263126
A    1.508691
D   -0.246324
C    0.278000
dtype: float64

In [88]:
s1 + s2

A    3.093596
B         NaN
C    0.551497
D         NaN
G    0.499048
H         NaN
I    1.597651
J         NaN
dtype: float64

In [89]:
s1 - s2

A    0.076214
B         NaN
C   -0.004502
D         NaN
G    0.741293
H         NaN
I    0.421718
J         NaN
dtype: float64

In [81]:
data = [5523, 1254, 4458, 3215]
index = ["김", "나", "박", "이"]
t1 = pd.Series(data, index=index)
print(t1)
data = [9875, 1585, 7855, 6848]
index = ["김", "나", "박", "충"]
t2 = pd.Series(data, index=index)
print(t2)

김    5523
나    1254
박    4458
이    3215
dtype: int64
김    9875
나    1585
박    7855
충    6848
dtype: int64

In [82]:
ts = t1 + t2
ts

김    15398.0
나     2839.0
박    12313.0
이        NaN
충        NaN
dtype: float64

In [83]:
ts[ts.notnull()]

김    15398.0
나     2839.0
박    12313.0
dtype: float64

In [84]:
tt = t1 + t2
tt
tt[tt.notnull()]

김    15398.0
나     2839.0
박    12313.0
dtype: float64

In [85]:
td = t1 % t2
td[td.notnull()]

김    5523.0
나    1254.0
박    4458.0
dtype: float64

## 데이터프레임 (DataFrame)
* 시리즈가 1차원 배열 데이터에 행방향 인덱스(row index)를 붙인 것이라면 데이터프레임는 2차원 행렬 데이터에 인덱스를 붙인 것
* 2차원이므로 각각의 행 데이터의 이름이 되는 행 인덱스(row index) 뿐 아니라 각각의 열 데이터의 이름이 되는 열 인덱스(column index)도 붙일 수 있음

### 데이터프레임 생성
1. 하나의 열이 되는 데이터를 리스트나 일차원 배열을 준비
1. 이 각각의 열에 대한 이름(라벨)을 키로 가지는 딕셔너리를 생성
1. 이 데이터를 DataFrame 생성자에 넣음. 동시에 열방향 인덱스는 `columns` 인수로, 행방향 인덱스는 `index` 인수로 지정

In [90]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]

In [92]:
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

* 데이터프레임은 공통 인덱스를 가지는 열 시리즈(column series)를 딕셔너리로 묶어놓은 것이라고 보는 것이 더 정확
* 데이터프레임은 각 열(column)마다 자료형이 다를 수 있음 (2차원 배열이라고 보기엔 무리)
---
* 데이터만 접근하려면 `values` 속성 사용
* 열방향 인덱스 : `columns` 속성
* 행방향 인덱스 : `index` 속성

In [93]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [94]:
df.columns #일종의 키 리스트

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [95]:
df.index #일종의 키 리스트

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [97]:
# 시리즈처럼 열방향 인덱스와 행방향 인덱스에 이름을 붙이는 것도 가능
df.index.name = '도시'
df.columns.name = "특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

### 🦆 연습문제 2
다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

1. 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.
1. 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

In [105]:
data = {
    "종류": ["행정사", "공인중개사", "주택관리사", "사회관리사", "정보처리기사"],
    "단가": [20000, 25000, 10200, "무료", 55030],
    "확정일": ["3월 5일", "4월 7일", "5월 20일", "8월 2일", "내일"],
    "합격률": [0.15, 0.50, 0.23, 0.25, 0.90],
    "응시지역": ["수도권", "경상권", "수도권", "경상권","전남권"],
    "2010-2015 응시인원 증감율": [-0.0283, 0.0163, -0.0982, 0.0141, 0.2323]
}
columns = ["종류","단가","확정일","합격률","응시지역","2010-2015 응시인원 증감율"]
index = ["국가자격", "민간자격","비보호","국가자격","국가자격"]

In [106]:
nd = pd.DataFrame(data, index=index, columns=columns)
nd

          종류     단가     확정일   합격률 응시지역  2010-2015 응시인원 증감율
국가자격     행정사  20000   3월 5일  0.15  수도권             -0.0283
민간자격   공인중개사  25000   4월 7일  0.50  경상권              0.0163
비보호    주택관리사  10200  5월 20일  0.23  수도권             -0.0982
국가자격   사회관리사     무료   8월 2일  0.25  경상권              0.0141
국가자격  정보처리기사  55030      내일  0.90  전남권              0.2323

In [110]:
pd.DataFrame({
    "a" : np.random.randn(5), #-2 ~ 2 사이 표쥰정규분포를 따르는...(평균0, 표준편차1)
    'b' : np.random.rand(5), #0~1사이 임의의값 5개
    "c" : np.random.randint(10, size =5), #0~9사이의 5개 정수
    # "d" : np.logspace(0,1,5)
    "d" : np.linspace(0, 1, 5),
    'e' : np.random.choice(list("ㄱㄴㄷㄹㅁㅂㅅ"), 5, replace=False),
},
# index=list("ABCDE")
index = list(map(chr, range(65,70)))
)

          a         b  c     d  e
A  1.314563  0.995008  9  0.00  ㄹ
B -0.792741  0.086424  8  0.25  ㅅ
C -0.200783  0.221257  3  0.50  ㅂ
D  0.271652  0.626246  9  0.75  ㄱ
E  0.660726  0.002402  3  1.00  ㄷ

In [111]:
# 데이터프레임은 전치(transpose)를 포함하여 넘파이 2차원 배열이 가지는 대부분의 속성이나 메서드를 지원
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

### 열 데이터의 갱신, 추가, 삭제
* 데이터프레임은 열 시리즈의 딕셔너리으로 볼 수 있으므로 열 단위로 데이터를 갱신하거나 추가, 삭제할 수 있음

In [113]:
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [114]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [115]:
df["지역"]["서울"], df["지역"][0]

('수도권', '수도권')

In [117]:
df['2010-2015 증가율'] * 100

도시
서울    2.83
부산    1.63
인천    9.82
대구    1.41
Name: 2010-2015 증가율, dtype: float64

In [119]:
# df['2010-2015 증가율'] = df['2010-2015 증가율'] * 100
df['2010-2015 증가율'] *= 100
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [122]:
#"2005 - 2010 증가율" 이라는 이름의 열을 추가
# 2005-2010 증가율 = (2010인구수 - 2005인구수)/2005인구수 * 100
df['2005-2010 증가율'] = ((df['2010'] - df['2005']) / df['2005'] * 100).round(2)  #딕셔너리형태기때문에 없는 키입력 = 새로운 키로 할당
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99

In [123]:
del df["2010-2015 증가율"] #주로 del 보단 drop을 씀.
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

### 열 인덱싱
* 데이터프레임은 열 라벨을 키로, 열 시리즈를 값으로 가지는 딕셔너리와 유사
* 따라서 데이터프레임을 인덱싱을 할 때도 열 라벨(column label)을 키값으로 생각하여 인덱싱을 할 수 있음
* 인덱스로 라벨 값을 하나만 넣으면 시리즈 객체가 반환되고 라벨의 배열 또는 리스트를 넣으면 부분적인 데이터프레임이 반환

In [124]:
# 하나의 열만 인덱싱하면 시리즈가 반환
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [126]:
# 여러개의 열을 인덱싱하면 부분적인 데이터프레임이 반환
df[['2010','2015']]
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

* 만약 하나의 열만 빼내면서 데이터프레임 자료형을 유지하고 싶다면 원소가 하나인 리스트를 써서 인덱싱

In [127]:
# 2010이라는 열을 반환하면서 데이터프레임 자료형을 유지
df[['2010']]

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [128]:
type(df[['2010']])

pandas.core.frame.DataFrame

In [129]:
# 2010이라는 열을 반환하면서 시리즈 자료형으로 변환
df['2010']

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [130]:
type(df['2010'])

pandas.core.series.Series

* 데이터프레임의 열 인덱스가 문자열 라벨을 가지고 있는 경우에는 순서를 나타내는 정수 인덱스를 열 인덱싱에 사용할 수 없음
* 정수 인덱싱의 슬라이스는 행(row)을 인덱싱할 때 사용하므로 열을 인덱싱할 때는 쓸 수 없음 (정수 인덱스를 넣으면 KeyError 오류가 발생)

In [131]:
df[0]

KeyError: ignored

* 다만 원래부터 문자열이 아닌 정수형 열 인덱스를 가지는 경우에는 인덱스 값으로 정수를 사용할 수 있음

In [132]:
df2 = pd.DataFrame(np.arange(12).reshape(3,4))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [135]:
df2[0]

0    0
1    4
2    8
Name: 0, dtype: int64

In [138]:
df2[[0,1]]

   0  1
0  0  1
1  4  5
2  8  9

In [140]:
df3 = pd.DataFrame(np.arange(12).reshape(3,4), columns=range(1,5))
df3

   1  2   3   4
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [142]:
df3[3] #위치인덱스와 정수의 이름을 가진 인덱스를 구분해야함

0     2
1     6
2    10
Name: 3, dtype: int64

### 행 인덱싱
* 만약 행 단위로 인덱싱을 하고자 하면 항상 슬라이싱(slicing)을 해야함
* 인덱스의 값이 문자 라벨이면 라벨 슬라이싱도 가능

In [143]:
df[:1]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34

In [144]:
df[1:2]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437           -3.4

In [145]:
df[1:3]#직접호출-열인덱싱, 슬라이싱처럼호출-행인덱싱

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54

In [147]:
df["서울":"대구"]  #시리즈에서의 인덱싱과 같음 = 숫자로 인덱싱하면 본인미포함, 문자열로 인덱싱하면 본인포함

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

### 개별 데이터 인덱싱
* 데이터프레임에서 열 라벨로 시리즈를 인덱싱하면 시리즈가 됨. 이 시리즈를 다시 행 라벨로 인덱싱하면 개별 데이터가 나옴.

In [149]:
df['2015']

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 2015, dtype: int64

In [151]:
df['2015'][0] #열을 조회한것 = 시리즈 = >시리즈처럼 인덱스가능

9904312

In [154]:
df['2015']["인천"]

2890451

### 데이터 프레임 인덱싱 방법 정리
|인덱싱 값|가능|결과|자료형|추가사항|
|:-|:-|:-|:-|:-|
|라벨|O|열|시리즈||
|라벨 리스트|O|열|데이터프레임||
|인덱스 데이터 (정수)|X||열 라벨이 정수인 경우에는 라벨 인덱싱으로 인정|
|인덱스 데이터(정수) 슬라이스|O|행|데이터프레임||

### 🦆 연습문제 3
```
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
```
1. 모든 학생의 수학 점수를 시리즈로 나타낸다.
1. 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
1. 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
1. 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
1. 춘향의 점수를 데이터프레임으로 나타낸다.
1. 향단의 점수를 시리즈로 나타낸다.

In [170]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [171]:
# 1. 모든 학생의 수학 점수를 시리즈로 나타낸다.
# = 수학점수가 들어있는 열을 인덱스로 조회한다.
# 열을 인덱스로 조회 -> df[열 인덱스] return 시리즈
df['수학']

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [172]:
# 2. 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
# 국어, 영어 키를 사용해서 키 리스트로 시리즈들을 조회해서 데이터프레임화
# 열들의 리스트를[]에 넣어서 조회하면 그 열들을 묶은 데이터프레임이 나온다.
df[['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [173]:
# # 3. 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
# df['평균'] = ((df['국어'] + df['영어'] + df['수학'] ) / 3)
# df
df['평균'] = df.mean(axis=1)
df

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

In [167]:
# 4. 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
# df["영어"]["방자"] = 80
df["영어"][3] = 80
df['평균'] = ((df['국어'] + df['영어'] + df['수학'] ) / 3)
df

<ipython-input-167-92857498ce1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["영어"][3] = 80

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  60.000000

In [166]:
# 5. 춘향의 점수를 데이터프레임으로 나타낸다.
#df[0:1], df[:1]
#df.T[["춘향"]].T
df["춘향":"춘향"]

    국어  영어  수학         평균
춘향  80  90  90  86.666667

In [175]:
# 6. 향단의 점수를 시리즈로 나타낸다.
# df.T["향단"]
df.loc["향단"]

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

# 데이터 입출력

## CSV 파일 입력

In [177]:
# CSV = comma seperated values : comma(,)로 구분된 값들
# 샘플 데이터 만들기
%%writefile sample1.csv
c1,c2,c3
1,1.11,one
2,2.22,two
3,3.33,three

Writing sample1.csv

In [178]:
# pd.read_csv(파일이름) : CSV파일로부터 데이터를 읽어 데이터프레임 만들기
pd.read_csv('sample1.csv')

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [179]:
# 만약 데이터 파일에 열 인덱스 정보가 없는 경우에는 read_csv 명령의 names 인수로 설정 가능
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [182]:
df_csv2 = pd.read_csv('sample2.csv')
df_csv2

   1   1.11     one
0  2   2.22     two
1  3   3.33   three

In [183]:
df_csv2 = pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3']) #names = [열이름리스트]
df_csv2

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [191]:
# 만약 테이블 내의 특정한 열을 행 인덱스로 지정하고 싶으면 index_col 인수를 사용
df_csv3 = pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'], index_col = 0) # index_col = n번째를 지정-인덱스처럼 0부터시작
df_csv3

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

## CSV 파일 출력

In [193]:
df = pd.read_csv('sample1.csv')
df['c4'] = df['c1'] + df['c2']
df

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [194]:
df.to_csv('sample3.csv')

In [196]:
!cat sample3.csv

,c1,c2,c3,c4
0,1,1.11,one,2.1100000000000003
1,2,2.22,two,4.220000000000001
2,3,3.33,three,6.33

In [208]:
df_to_csv = pd.read_csv('sample3.csv', index_col=0)
df_to_csv
#df_to_excel/markdown등으로 다르게 저장가능

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [201]:
df.to_excel('sample3.xlsx')

In [202]:
pd.read_excel('sample3.xlsx', index_col=0)

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

## 인터넷 상의 CSV 파일 입력
* 웹상에는 다양한 데이터 파일이 CSV 파일 형태로 제공
* read_csv 명령 사용시 파일 패스 대신 URL을 지정하면 Pandas가 직접 해당 파일을 다운로드하여 읽어들임

In [204]:
url = 'https://github.com/BigData23th/DataAnalysis/raw/main/_data/titanic.csv'
pd.read_csv(url)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* 데이터의 수가 많을 경우, 데이터프레임의 표현(representation)은 데이터 앞, 뒤의 일부분만 보여줌
* 보여줄 행의 수는 `display.max_rows` 옵션으로 정할 수 있다.

In [210]:
pd.set_option("display.max_rows", 20) # 앞뒤로 모두 20행
df = pd.read_csv(url) # 주피터나 로컬은 되는데 코렙은 안해줌
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* 만약 앞이나 뒤의 특정 갯수만 보고 싶다면 `head` 메서드나 `tail` 메서드를 이용
* 메소드 인수로 출력할 행의 수를 넣을 수도 있음

In [211]:
#df.head() #앞에서 N개 가져옴
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [212]:
#df.tail() #뒤에서 N개 가져옴
df.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q