<a href="https://colab.research.google.com/github/jyeongvv/DataAnalysis_jy/blob/main/jyeongvv/ch05_04_%EA%B8%B0%EC%88%A0%ED%86%B5%EA%B3%84%2B%EB%82%9C%EC%88%98%EB%B0%9C%EC%83%9D%EA%B3%BC%2B%EC%B9%B4%EC%9A%B4%ED%8C%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기술 통계

## 기술 통계(descriptive statistics)
> 데이터 집합에 대해 통계를 계산
* 데이터의 개수(count)
* 평균(mean, average)
* 분산(variance)
* 표준 편차(standard deviation)
* 최댓값(maximum)
* 최솟값(minimum)
* 중앙값(median)
* 사분위수(quartile)

In [2]:
import numpy as np

In [3]:
x = np.array([
    18, 5, 10, 23, 19, -8, 10, 0, 0, 5, 2, 15, 8,
    2, 5, 4, 15, -1, 4, -7, -24, 7, 9, -6, 23, -13
])
x

array([ 18,   5,  10,  23,  19,  -8,  10,   0,   0,   5,   2,  15,   8,
         2,   5,   4,  15,  -1,   4,  -7, -24,   7,   9,  -6,  23, -13])

## 데이터의 개수

In [4]:
len(x)

26

## 표본 평균
* 우리가 일반적으로 아는 평균
* 통계용어로는 표본 평균(sample average, sample mean)
<br>
$
\bar{x} = \frac{1}{N}\displaystyle\sum_{i=1}^{N}{x_i}
$
(𝑁은 데이터의 개수)

In [5]:
np.mean(x), x.mean()

(4.8076923076923075, 4.8076923076923075)

## 표본 분산
* 표본 분산(sample variance) : 데이터와 표본 평균간의 거리의 제곱의 평균
* 표본 분산이 작으면 데이터가 모여있는 것이고 크면 흩어져 있는 것
<br>
$
s^2 = \frac{1}{N}\displaystyle\sum_{i=1}^{N}{(x_i-\bar{x})^2}
$

In [6]:
np.var(x)

115.23224852071006

## 표본 표준편차
* 표본 표준편차(sample standard variance) : 표본 분산의 양의 제곱근 값 
<br>
$
s = \sqrt{s^2}
$

In [8]:
np.std(x)

10.734628476137871

## 최댓값과 최솟값

In [9]:
# 최댓값 (maximum) / 최솟값 (minimum)
np.max(x), np.min(x)

(23, -24)

## 중앙값
* 중앙값(median) : 데이터를 크기대로 정렬하였을 때 가장 가운데에 있는 수
* 만약 데이터의 수가 짝수이면 가장 가운데에 있는 두 수의 평균을 사용

In [10]:
np.median(x)

5.0

## 사분위수
* 사분위수(quartile) : 데이터를 가장 작은 수부터 가장 큰 수까지 크기가 커지는 순서대로 정렬하였을 때 1/4, 2/4, 3/4 위치에 있는 수
* 각각 1사분위수, 2사분위수, 3사분위수라고 함
* 1/4의 위치란 전체 데이터의 수가 만약 100개이면 25번째 순서, 즉 하위 25%
* 따라서 2사분위수는 중앙값과 같음
* 때로는 위치를 1/100 단위로 나눈 백분위수(percentile)을 사용하기도 함
* 1사분위수는 25% 백분위수와 같음

In [16]:
np.percentile(x, 0) # 최솟값

-24.0

In [17]:
np.percentile(x, 25) # 25% 백분위수, 1사분위수

0.0

In [18]:
np.percentile(x, 50) # 50% 백분위수, 2사분위수, 중앙값

5.0

In [19]:
np.percentile(x, 75) # 75% 백분위수, 3사분위수

10.0

In [20]:
np.percentile(x, 100) # 100% 백분위수, 최댓값

23.0

# 난수 발생과 카운팅

## 시드 설정
* 컴퓨터 프로그램에서 발생하는 무작위 수는 사실 엄격한 의미의 무작위 수가 아님
* 어떤 특정한 시작 숫자를 정해 주면 컴퓨터가 정해진 알고리즘에 의해 마치 난수처럼 보이는 수열을 생성. 이런 시작 숫자를 시드(seed)라고 함
* 일단 생성된 난수는 다음번 난수 생성을 위한 시드값이 됨. 따라서 시드값은 한 번만 정해주면 됨.
* 시드는 보통 현재 시각 등을 이용하여 자동으로 정해지지만 사람이 수동으로 설정할 수도 있음 * 특정한 시드값이 사용되면 그 다음에 만들어지는 난수들은 모두 예측할 수 있음
* 고정된 결과를 얻기 위해서 실습엔 시드를 설정

In [21]:
np.random.seed(0) # 시드값 고정

### `rand` : 0과 1 사이의 난수를 발생

In [22]:
np.random.rand(5) # rand(n) n개의 길이를 가지는 배열의 각각 0~1 사이의 난수를 채워줌

array([0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ])

In [23]:
np.random.rand(10)

array([0.64589411, 0.43758721, 0.891773  , 0.96366276, 0.38344152,
       0.79172504, 0.52889492, 0.56804456, 0.92559664, 0.07103606])

## 데이터의 순서 변경

### `shuffle`
* 데이터의 순서를 변경
* 자체 변환(in-place) 함수 (원본에 영향)

In [24]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
np.random.shuffle(x)
x

array([5, 1, 8, 2, 6, 7, 0, 3, 4, 9])

## 데이터 샘플링
* 표본선택 혹은 샘플링(sampling) : 이미 있는 데이터 집합에서 일부를 무작위로 선택하는 것

### `choice` : 샘플링에 사용
```
numpy.random.choice(a, size=None, replace=True, p=None)
```
* a : 배열이면 원래의 데이터, 정수이면 arange(a) 명령으로 데이터 생성
* size : 정수. 샘플 숫자
* replace : 불리언. True이면 한번 선택한 데이터를 다시 선택 가능 (복원/비복원 추출)
* p : 배열. 각 데이터가 선택될 수 있는 확률

In [27]:
np.random.choice(5, 5, replace=False) # 5개 중에 5개를 선택 -> 비복원 -> shuffle

array([4, 2, 3, 1, 0])

In [28]:
np.random.choice(5, 3, replace=False) # 5개 중에 3개를 선택 -> 비복원 -> shuffle

array([1, 4, 2])

In [30]:
np.random.choice(5, 10, replace=True) # 5개 중에 10개를 선택 -> 복원추출 (뽑았던 것 또 뽑을 수 있음)

array([1, 4, 1, 2, 2, 0, 1, 1, 1, 1])

In [33]:
# [0, 1, 2, 3, 4]
np.random.choice(5, 10, p=[0.1, 0, 0.3, 0.6, 0])

array([2, 2, 3, 0, 3, 0, 3, 3, 3, 3])

In [46]:
np.random.choice([1, 5, 10, 20, 100],  p=[0.7, 0.2, 0.05, 0.03, 0.02])

1

## 난수 생성
* `rand` : 0부터 1 사이의 균일 분포
* `randn` : 표준 정규 분포
* `randint` : 균일 분포의 정수 난수

### `rand` : 0부터 1 사이에서 균일한 확률 분포로 실수 난수를 생성
* 숫자 인수는 생성할 난수의 크기
* 여러 개의 인수를 넣으면 해당 크기를 가진 행렬을 생성

In [38]:
np.random.rand(0)

array([], dtype=float64)

In [39]:
np.random.rand(3, 5)

array([[0.73926358, 0.03918779, 0.28280696, 0.12019656, 0.2961402 ],
       [0.11872772, 0.31798318, 0.41426299, 0.0641475 , 0.69247212],
       [0.56660145, 0.26538949, 0.52324805, 0.09394051, 0.5759465 ]])

### `randn` : 기댓값이 0이고 표준편차가 1인 표준 정규 분포(standard normal distribution)를 따르는 난수를 생성

In [40]:
np.random.randn(10)

array([-0.20642094,  0.48842647, -0.83833097,  0.38116374, -0.99090328,
        1.01788005,  0.3415874 , -1.25088622,  0.92525075, -0.90478616])

In [42]:
np.random.randn(3, 5)

array([[ 0.3563664 ,  0.70657317,  0.01050002,  1.78587049,  0.12691209],
       [ 0.40198936,  1.8831507 , -1.34775906, -1.270485  ,  0.96939671],
       [-1.17312341,  1.94362119, -0.41361898, -0.74745481,  1.92294203]])

### `randint`
```
numpy.random.randint(low, high=None, size=None)
```
만약 `high`를 입력하지 않으면 0과 `low`사이의 숫자, `high`를 입력하면 `low`와 `high`는 사이의 숫자를 출력. `size`는 난수의 숫자

In [47]:
np.random.randint(10, size=10)

array([8, 3, 2, 3, 6, 3, 6, 5, 7, 0])

In [49]:
np.random.randint(10, 20, size=10)

array([18, 14, 16, 15, 18, 12, 13, 19, 17, 15])

array([[18, 10, 14, 19, 16],
       [15, 17, 18, 18, 19],
       [12, 18, 16, 16, 19]])

## 💡 연습문제 7
1. 동전을 10번 던져 앞면(숫자 1)과 뒷면(숫자 0)이 나오는 가상 실험을 작성하라
2. 주사위를 100번 던져서 나오는 숫자의 평균
3. 가격이 10,000원인 주식이 있다. 이 주식의 일간 수익률(%)은 기댓값이 0%이고 표준편차가 1%인 표준 정규 분포를 따른다고 하자. 250일 동안의 주가를 무작위로 생성하라

In [51]:
# 1.
np.random.choice([0, 1], size=10, replace=True)

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 1])

In [56]:
# 2.
np.random.randint(1, 7, 100).mean()

3.5

In [60]:
# 3.
a = np.random.randn(250) / 100 # 일간 수익률의 표준정규분포를 따르는 (0, 1%) 수익률 분포

In [61]:
init = 10000
stock = np.empty(250)
for i, v in enumerate(a):
    init *= (1 + v)
    stock[i] = init
stock

array([10116.53642055, 10133.96579533, 10226.16752484, 10400.2995856 ,
       10332.07844644, 10353.81545189, 10347.23829853, 10234.97386869,
       10237.99466795, 10099.96355725, 10163.42097491, 10310.27654129,
       10410.90767255, 10404.98033389, 10303.80393144, 10146.76710917,
       10200.49210588, 10255.70725657, 10135.30514114, 10065.61803102,
       10193.70103977, 10263.71941399, 10432.26971907, 10375.54039801,
       10434.56664955, 10366.04802791, 10452.41799021, 10210.22194962,
       10250.04787955, 10330.54536838, 10217.17200632, 10238.86259319,
       10246.79512913, 10202.34395811, 10189.00004914, 10185.31061253,
        9976.47091786, 10050.34366027, 10042.2128846 ,  9965.09615927,
       10071.92421895, 10105.72021175, 10172.51916359,  9999.42266964,
        9972.92491174,  9841.00784187,  9873.23478317,  9880.58090106,
        9884.63977409, 10009.150374  , 10098.39862964, 10149.45786062,
       10080.09477338,  9991.74364335,  9991.18264073, 10137.70956311,
       10064.1307224 ,  9889.73770508,  9958.96184232,  9962.14913643,
        9983.19799038,  9991.92242067, 10056.92234767,  9994.69764625,
       10003.60739641, 10028.03106626,  9943.3262221 ,  9853.58012944,
        9934.0613834 , 10002.80196282,  9877.23874687, 10000.87441121,
        9912.69193192, 10060.39050343, 10109.79701834, 10118.9194815 ,
       10113.67004152, 10227.71055886, 10231.80525527, 10105.54640673,
       10031.75098158,  9783.25473748,  9791.69811399,  9917.21977084,
        9870.57001259,  9769.60353119,  9883.3219594 ,  9831.19612839,
       10007.113212  , 10069.06985372,  9958.45687958, 10016.97555036,
       10160.56670264, 10055.13252097, 10053.93515082, 10049.48293737,
       10200.17675033, 10199.13988557, 10253.94020671, 10235.41732162,
       10199.45783916, 10170.55063381, 10240.46473488, 10234.810859  ,
       10282.34777487, 10407.73135605, 10349.50062768, 10266.73011903,
       10260.36922116, 10309.47701218, 10365.33948085, 10336.7104937 ,
       10337.58349361, 10380.78774401, 10306.36658621, 10476.55282099,
       10555.12551679, 10696.58923918, 10542.49358591, 10334.32875887,
       10180.04710444, 10135.2352136 , 10127.13427548, 10022.61367013,
       10097.63742473, 10355.0960274 , 10294.18942967, 10357.25249628,
       10337.55439975, 10570.07106058, 10716.96808571, 10662.18277634,
       10625.09884448, 10648.17467398, 10487.44623811, 10519.02071913,
       10558.55614148, 10486.6126597 , 10562.18795416, 10740.81467383,
       10733.4552394 , 10683.37713475, 10745.84416141, 10831.29246684,
       10870.37806621, 10817.93789043, 10780.3239778 , 10643.78484906,
       10562.19316471, 10583.9227314 , 10519.53301633, 10485.53703956,
       10316.16748795, 10360.90648922, 10338.32227167, 10444.11685254,
       10430.10760789, 10434.98095312, 10372.88361345, 10170.64179419,
       10116.73475696, 10009.46140279,  9918.52662616,  9915.05758079,
        9773.6294715 ,  9646.32433102,  9531.45994707,  9515.20472647,
        9592.66341947,  9542.76753703,  9727.38211259,  9722.30483581,
        9619.49285676,  9604.28540236,  9581.38767974,  9608.16764915,
        9796.68737007,  9918.84526377,  9937.47883855, 10064.81890607,
       10203.23678921, 10348.18483649, 10290.51700134, 10461.13115176,
       10508.50132916, 10469.78455158, 10335.06568483, 10166.13683602,
       10165.0920988 , 10139.06594639, 10232.14665652, 10219.12559777,
       10241.36963854, 10285.65676869, 10232.61047566, 10202.15788904,
       10135.46618058, 10324.87338653, 10349.3856397 , 10212.77832889,
       10129.90280269, 10084.36896534, 10125.7878651 , 10157.48952953,
       10201.27245886, 10067.18399977, 10300.87259358, 10400.39727054,
       10396.59404286, 10341.35001817, 10212.92606881, 10352.00220131,
       10444.09713632, 10331.06479415, 10266.95162408, 10146.74340709,
       10225.36674677, 10337.21363325, 10289.44132803, 10205.41005827,
       10063.0838482 , 10141.8216072 , 10247.69727483, 10127.79630948,
       10096.88461973, 10114.66021502, 10208.07492394, 10121.54984753,
       10042.26980495,  9824.00171277,  9710.21152834,  9708.47092708,
        9853.14121659,  9754.96024503,  9702.13681144,  9653.33397631,
        9590.89276279,  9659.81365853,  9567.3014774 ,  9505.97419843,
        9626.32374947,  9667.62501036,  9570.01289465,  9619.19761661,
        9600.07804649,  9623.01606078,  9531.34952056,  9503.35394161,
        9494.66200373,  9505.26663443])

## 정수 데이터 카운팅
* 만약 난수가 정수값이면 unique 명령이나 bincount 명령으로 데이터 값을 분석

### `unique`
* unique 함수는 데이터에서 중복된 값을 제거하고 중복되지 않는 값의 리스트를 출력
* return_counts 인수를 True 로 설정하면 각 값을 가진 데이터 갯수도 출력

In [62]:
np.unique([11, 11, 2, 2, 34, 34])

array([ 2, 11, 34])

In [64]:
a = np.array(["a", "b", "b", "c", "a"])
idx, count = np.unique(a, return_counts=True)

In [65]:
idx

array(['a', 'b', 'c'], dtype='<U1')

In [68]:
count

array([2, 2, 1])

In [69]:
dict(zip(*np.unique(a, return_counts=True)))

{'a': 2, 'b': 2, 'c': 1}

### `bincount`
* `unique` 함수는 데이터에 존재하는 값에 대해서만 갯수를 세므로 데이터 값이 나올 수 있음에도 불구하고 데이터가 하나도 없는 경우에는 정보를 주지 않음
* 따라서 데이터가 주사위를 던졌을 때 나오는 수처럼 특정 범위안의 수인 경우에는 `bincount` 함수에 `minlength` 인수를 설정하여 쓰는 것이 더 편리
* `bincount` 함수는 0 부터 `minlength` - 1 까지의 숫자에 대해 각각 카운트
* 데이터가 없을 경우에는 카운트 값이 0이 됨

In [72]:
np.bincount([1, 1, 2, 2, 3], minlength=6)

array([0, 2, 2, 1, 0, 0])